<div id="left-side">
  <%#<div class="top-box-img"><img src="./images/profile-img.jpg" alt="" /></div>%>
  <%#<div class="cat">%>
      <%#<ul>%>
          <%#<li class="act"><a href="#">Инфо</a></li>%>
          <%#<li><a href="#">Сотрудники (6)</a></li>%>
          <%#<li><a href="#">Новости (3)</a></li>%>
          <%#<li><a href="#">Товары (13)</a></li>%>
          <%#<li><a href="#">Заметки (2)</a></li>%>
      <%#</ul>%>
  <%#</div>%>
  <div class="btn-profil">
    <% if current_user.retailer? %>
      <%= render :partial => "clouds" %>
      <%= render :partial => "add_tag" %>
    <% end %>
  </div>
</div>
<div id="middle-side">
  <div class="wrap">
    <div class="address">
      <a href='#'><%= t 'user.title' %></a>
    </div>
    <div id="profile-info">
      <div class="info-wrap">
        <h3 class="title"><%= t 'main.information' %></h3>
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
          <tbody>
            <tr>
              <td><span><%= t 'user.name' %>:</span></td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td><span><%= t 'user.gln' %>:</span></td>
              <td><%= @user.gln %></td>
            </tr>
          </tbody>
        </table>
        </br>
        <% if current_user.retailer? %>
          <%= render :partial => "/user_attributes/user_attributes" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
