#left-side
  .top-box
    =# render '/nav' %>

#middle-side
  .wrap
    .address
      %a{:href => "#"}
        = t 'invitation.invitations'
    #goods-list-short
      =link_to t('invitation.add_user'),'javascript:void(0)',:onclick =>'$("#form_wrapper").show()', :id => 'show_add_user_link'
      #add_user_wrapper
        #form_wrapper{:style=>'display:none'}
          = render :partial => 'form'


      .sort-btn
        = link_to_if (params[:view]!='new' and params[:view].present?), t('new'), url_for(params.merge :view => 'new'), :class=>'kr'
        |
        = link_to_if params[:view]!='declined', t('declined'), url_for(params.merge(:view => 'declined'))
        |
        = link_to_if params[:view]!='invited', t('invited'), url_for(params.merge(:view => 'invited'))
        .clr
      .short-wrap
        - @invitation_requests.each do |ir|
          .item{:id => "request-#{ir.id}" }
            .desc
              .fright{:id => "buttons-#{ir.id}"}
                -if ir.status == 'new'
                  = link_to content_tag(:span, t('invitation.invite')),invite_invitation_request_path(ir), {:class => 'blue-btn accept', :remote => true, :method=>'GET'}
                  = link_to content_tag(:span, t('invitation.decline')),decline_invitation_request_path(ir),{ :class => 'blue-btn decline', :remote => true, :method=>'GET' }
                -else
                  %h3
                    = ir.status
              %p
                %b
                  = "#{h ir.name} #{h ir.company_name}"
                %span
                  = h ir.email
                %span{:class => 'product-name'}
                  = h ir.notes
                %span{:class => 'date'}
                  = humanize_date(ir.updated_at)
              %p
                %span{:class => 'changes'}
                  = h ir.status
                = h ir.roles.join(',')

