= title t(".title")

= simple_form_for @membership, wrapper: :inline do |f|
  = f.error_notification
  .inputs
    = f.input :role, collection: MembershipDecorator.role_select_options, include_blank: false
  .actions
    = f.button :submit, class: 'primary'
