= title t(".title")

- content_for(:sidebar) do
  = MembershipDecorator.invitation_link(class: "btn large primary")

%article
  %table.grid
    %tr
    %th Name
    %th Role
    %th &nbsp;
    %th &nbsp;
    - @memberships.each do |m|
      %tr
        %td= m.display_name
        %td= m.role_name
        %td= m.edit_link
        %td= m.destroy_link
