!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
  %body
    %p
      Hello,
      = @user.first_name

    %p
      We thought you'd like to know that
      = @invited_by.full_name
      has added you to the
      = @account.company_name
      account.
    %p
      %strong
        Click this link to get started:
      %br
      = @url

    %p
      Login:
      %br
      = @user.email
      - if @user.password.present?
        Password:
        %br
        = @user.password

    - if @invitation_note.present?
      %p
        = @invited_by.first_name
        also says:
      %pre= @invitation_note
    -#%p
      -#Login:
      -#%br
      -#= @user.email
      -#= @membership.password_label(format: :html)

      -#= @membership.invitation_label(format: :html)

    %p
      %strong
        Have questions?
      = "Contact #{@invited_by.full_name} - company account administrator - at #{@invited_by.email}"


    %p
      All the best,
      %br
      = "The #{Settings.project_name} Team"
      %br
      = Settings.links.project_home

