= title t('.title')

.row
  = render "users/registrations/signup_message"

  .span12.columns
    .user_info.alert-message.block-message
      %p
        %strong= "#{t(".hello", name: current_user.first_name)}"
        %span.soft= "(#{link_to t(".sign_out"), new_user_registration_url(force_signout: true)})".html_safe
      %p= "#{t(".signed_in_with_email", email: current_user.email)}"
      %p
        = t(".credentials_notice")
        %strong= "#{t(".email_and_password")}."

    = simple_form_for(@account, url: users_account_url, validate: true, wrapper: :inline) do |f|
      = f.error_notification
      .inputs
        = f.input :company_name
        = f.input :country, include_blank: false
        = f.input :subdomain
        = f.input :website
        = f.input :about_company, as: :text

        = render "users/registrations/terms_and_privacy"
      .actions
        = f.button :submit, t('.create_account'), class: 'primary'
