%tr.comment{ id: comment.id }
  %td
    .links
      = comment.destroy_link
    %em= "#{comment.user.full_name}, #{comment.created_at.try(:strftime, '%d %b %Y, %H:%M')}"
    = simple_format comment.body
