<% if (current_user.id == comment.item.user_id) or ((comment.user_id == current_user.id) or (comment.item.user_id == comment.user_id)) %>
<div class="cm">
<% if @message_info %><div style="font-size: 125%; margin-bottom: 1em;"><strong><a href="/base_items/<%= comment.item.last_bi.first.id %><%= '?view=true' if current_user.retailer? %>"><%= comment.item.last_bi.first.gtin %>, <%= comment.item.last_bi.first.item_description %></a></strong></div><% end %>
<div class="bi-image"><img src="/images/item_image_small.jpg" width="50px" alt="Supplier Image"/></div>
<div class="bi-content">
<div><span class="normal <%= "red" if comment.item.user_id != comment.user_id %>"><%= comment.user.name %></span></div>
<div class="usual"><%= comment.content %></div>
<div class="light fleft"><%= comment.created_at.to_s(:cmnt) %></div>
</div>
<div id="allch-<%= comment.id %>">
<% for c in comment.get_children do %>
<% if (current_user.id == c.item.user_id) or (c.get_root.user_id == current_user.id) or (c.user_id == current_user.id) or (!!c.parent_id && (c.get_parent.user_id == current_user.id)) %>
<div class="cm-child">
<div class="bi-image"><img src="/images/item_image_small.jpg" width="50px" alt="Supplier Image"/></div>
<div class="bi-content">
<div><span class="normal <%= "red" if c.item.user_id != c.user_id %>"><%= c.user.name %></span></div>
<div class="usual"><%= c.content %></div>
<div class="light fleft"><%= c.created_at.to_s(:cmnt) %></div>
<div class="light actions">&nbsp;<% if c.user_id != current_user.id %><%#= link_to_remote "reply", :url => {:controller => "comments", :action => "reply", "comment[item_id]" => comment.item.id, "comment[base_item_id]" => @base_item.id, "comment[root_id]" => comment.id, "comment[parent_id]"=>c.id } %><% end %></div>
</div>
</div>
<% end %>
<% end %>
</div>
<div style="clear: both; margin-left: 2em;"><% if ((comment.item.user_id == current_user.id) && (comment.user_id != current_user.id)) || ((comment.item.user_id != current_user.id) && (comment.user_id == current_user.id)) %>
<%= link_to "Комментировать", {:controller => "comments", :action => "reply", "comment[item_id]" => comment.item.id, "comment[base_item_id]" => comment.base_item.id, "comment[root_id]" => comment.id, "comment[message_info]" => @message_info }, {:remote => true} %><% end %></div>
<div id="cr-<%= comment.id %>" style="margin-left: 2em;"></div>
</div>
<% end %>

