= simple_form_for @comment,
        url: send("#{commentable.class.name.underscore}_comments_path", commentable.id),
        remote: true, wrapper: :inline do |f|
  = f.error_notification

  .inputs
    = f.input :body, as: :text

  .actions
    = f.button :submit
