<hr/>
<% form_for @retailer_attribute, :remote => true do |f| %>
<input type="hidden" name="retailer_attribute[item_id]" value="<%= @retailer_attribute.item.id %>"/>
<input type="hidden" name="retailer_attribute[base_item_id]" value="<%= @retailer_attribute.base_item_id %>"/>
<table>
<tr class="info">
<td>
Retailer article id
</td>
<td>
Retailer Classification
</td>
</tr>
<tr class="val">
<td>
<%= f.text_field :retailer_article_id %>
</td>
<td>
<%= f.text_field :retailer_classification %>
</td>
</tr>
<tr class="info">
<td colspan="3">
Retailer Item Description
</td>
</tr>
<tr class="val">
<td colspan="3">
<%= f.text_field :retailer_item_description, :style => "width: 100%;"%>
</td>
</tr>
<tr class="info">
<td colspan="3">
Retailer comment
</td>
</tr>
<tr class="val">
<td colspan="3">
<%= f.text_area :retailer_comment, :rows => 2, :style => "width: 100%"%>
</td>
</tr>
</table>
<%= f.submit "Сохранить", :class=>"button" %>
<%= button_to_remote "Отмена", {:url => url_for(:controller => "retailer_attributes", :action => "show", :id => @retailer_attribute.id, "retailer_attribute[item_id]" => item.id, "retailer_attribute[base_item_id]" => @retailer_attribute.base_item_id ), :method => :get}, :class => "button" %>
<% end %>

