<% if @retailer_attribute && @retailer_attribute.id && !@retailer_attribute.destroyed?%>
<hr/>
<table>
<tr class="info">
<% if @retailer_attribute.retailer_article_id.to_s.length > 0 %>
<td>
Retailer article id
</td>
<% end %>
<% if @retailer_attribute.retailer_classification.to_s.length > 0 %>
<td>
Retailer Classification
</td>
<% end %>
</tr>
<tr class="val">
<% if @retailer_attribute.retailer_article_id.to_s.length > 0 %>
<td>
<%= @retailer_attribute.retailer_article_id %>
</td>
<% end %>
<% if @retailer_attribute.retailer_classification.to_s.length > 0 %>
<td>
<%= @retailer_attribute.retailer_classification %>
</td>
<% end %>
</tr>
<% if @retailer_attribute.retailer_item_description.to_s.length > 0 %>
<tr class="info">
<td colspan="3">
Retailer Item Description
</td>
</tr>
<tr class="val">
<td colspan="3">
<%= @retailer_attribute.retailer_item_description %>
</td>
</tr>
<% end %>
<% if @retailer_attribute.retailer_comment.to_s.length > 0 %>
<tr class="info">
<td colspan="3">
Retailer comment
</td>
</tr>
<tr class="val">
<td colspan="3">
<%= @retailer_attribute.retailer_comment%>
</td>
</tr>
<% end %>
</table>
<%= link_to_remote 'Правка', :url => url_for(:controller => "retailer_attributes", :action => "edit", :id => @retailer_attribute.id, "retailer_attribute[item_id]" => @retailer_attribute.item.id, "retailer_attribute[base_item_id]" => @base_item.id), :method => :get %>
<% else %>
<%= link_to_remote 'Добавить данные', :url => url_for(:controller => "retailer_attributes", :action => :new, "retailer_attribute[item_id]" => item.id, "retailer_attribute[base_item_id]" => @base_item.id), :method => :get %>
<% end %>
