<!--<h2><%= t 'status.title' %></h2>
<table class="standart">
<tr>
  <td><%= t 'status.items_subscribers' %></td>
<% for u in @users do %>
<td><%= u.name %></td>
<% end %>
<td rowspan="<%=@base_items.count + 1 %>"><%= t 'main.subscribers' %><%= html_pager(@users, 'page_users') %></td>
</tr>
<% for bi in @base_items do %>
<tr>
<td><%= bi.item_description %></td>
<% for u in @users do %>
<% sr = u.subscription_results.find_by_base_item_id(bi.id) if bi.published? %>
<td><div class="sr-status sr-<%=(sr ? sr.status : 'none')%>" title="<%= (sr ? sr.status_for_title : t('sr.not_send') )%>"></div></td>
<% end %>
</tr>
<% end %>
<tr>
  <td colspan="<%=@users.count + 1 %>"><%= t 'main.items' %>: <%= html_pager(@base_items) %></td>
</tr>
</table>
-->

    <div id="full-side">

            <div class="address"><%= link_to t('main.home'), "#"%><%= link_to t('subscription.status'), '#'%></div>

            <div id="statuses">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr class="top">
                    <th class="one-title">&nbsp;</th>
                    <% @users.each_with_index do |u,i| %>
                      <th <%= "class='grey'" if i % 2 > 0 %>><div><%= u.name %></div></th>
                    <% end %>
                  </tr>
                  <% for bi in @base_items do %>
                  <tr>
                    <th class="row-th"><%= bi.item_description %><b><%= bi.gtin %></b></th>
                    <% @users.each_with_index do |u,i| %>
                      <% sr = u.subscription_results.find_by_base_item_id(bi.id) if bi.published? %>
                      <% ind = %w{filler multi accepted new canceled}%>
                      <td <%= "class='grey'" if i % 2 > 0 %>><span class="icon-stat-<%=(sr ? ind.index(sr.status) : '-')%>" title="<%= (sr ? sr.status_for_title : t('sr.not_send') )%>"></span></td>
                    <%end%>
                  </tr>
                  <%end%>
                </table>

            </div>
            <div class="page">
               <%= html_pager @base_items %>
            </div>

    </div>

