- title t('.title')

= simple_form_for(resource, url: session_url(resource_name)) do |f|
  .inputs
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = render partial: "users/show_password"
    = f.input :remember_me, wrapper: :boolean, as: :boolean if devise_mapping.rememberable?
  .actions
    = f.button :submit, t(".sign_in"), class: 'primary'
    = link_to t('.recoverable'),
      new_password_url(resource_name, subdomain: Settings.app_subdomain)
