<%= javascript_include_tag "jquery/jquery-1.3.2.js" %>
<%= javascript_include_tag "jquery/jquery.selectchain.js" %>
<%= javascript_include_tag :all, :cache => true %>

<h1>Editing article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    Sample autocomplete field<br />
    <%= text_field_with_auto_complete :record, :value, {}, :method => :get %>
  </p>

  <p>
    <%= f.label :gtin %><br />
    <%= f.text_field :gtin %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= @article.print_status %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
