<%= javascript_include_tag "jquery/jquery-1.3.2.js" %>
<%= javascript_include_tag "jquery/jquery.selectchain.js" %>
<%= javascript_include_tag :all, :cache => true %>

<h1>New article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    Sample autocomplete field<br />
    <%= text_field_with_auto_complete :record, :value, {}, :method => :get %>
  </p>
  <p>
    <%= f.label :record_code %><br />
    <%= f.text_field :record_code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= show_status(@article.status) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
