<%= javascript_include_tag 'jquery/jquery.formLoad.js', 'jquery/jquery.form.js', 'article_show' %>

<% pi = PackagingItem.new %>
<p>
  <b>Record code:</b>
  <%=h @article.gtin %>
</p>

<p>
  <b>Name:</b>
  <%=h @article.name %>
</p>

<p>
  <b>Status:</b>
  <%=@article.print_status %>
</p>
<div style="border:1px solid black" id="pi_container">
  <div id="pi_new">
    <ul><li><span class="item"><%= link_to_new_pi(@article, pi) %></span></li></ul>
  </div>
  <%= render :partial => '/pi_list', :locals => { :packaging_items => @article.packaging_items } %>
</div>
<div id="editform" style="border:3px solid blue;background:white;display:none;width:200px;overflow:hidden;">
  edit element
  <% form_tag do %>
    <%= hidden_field :packaging_item, :id %>
    <p>
      <%= label :packaging_item, :gtin %><br />
      <%= text_field :packaging_item, :gtin, :id => 'edit_packaging_item_gtin' %>
    </p>
    <p>
      <%= label :packaging_item, :name %><br />
      <%= text_field :packaging_item, :name, :id => 'edit_packaging_item_name' %>
    </p>
    <p>
    <%= submit_tag 'Save' %>
    <%= button_to_function "Cancel", "$('#editform').hide()" %>
    </p>
  <% end %>
</div>

<div id="newform" style="border:3px solid blue;background:white;display:none;width:200px;overflow:hidden;">
  New element
  <% form_tag do %>
    <%= hidden_field :packaging_item, :id %>
    <p>
      <%= label :packaging_item, :gtin %><br />
      <%= text_field :packaging_item, :gtin, :id => 'new_packaging_item_gtin' %>
    </p>
    <p>
      <%= label :packaging_item, :name %><br />
      <%= text_field :packaging_item, :name, :id => 'new_packaging_item_name' %>
    </p>
    <p>
      <%= submit_tag 'Save' %>
      <%= button_to_function "Cancel", "$('#newform').hide()" %>
    </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<% if false %>
<%= link_to 'Создать PackagingItem', new_article_packaging_item_path(@article) %> |
<%= link_to_item_with_count 'Посмотреть все PackagingItems', article_packaging_items_path(@article), @article.packaging_items.count %>
<% end %>
<%= link_to 'Back', articles_path %>
