<div class="pi <%= "pl" if @packaging_item.pallet? %>" id="pi_new">
	<%= f.error_messages %>
	<p>
  	<%= f.text_field :gtin, :style => "border: 0", :title=> t('item.gtin') %>
	</p>
	<p>
		<div id="cases_input_<%= @packaging_item.id -%>">
		<div class="drop-down-cont pad-l-5 zi-5">
	  	<%= f.text_field :packaging_type, :style=>"border: 0;", :title =>t('pi.packaging_type'),:class=>'dd-input' %>
	  	<div class="drop-down pic" >
	  		<div class="blue-tarr"></div>
	  		<div class="drop-down-list-cont" style ="width:400px;">
	  			<div id="cases_results_<%= @packaging_item.id -%>" style="width:100%" class="drop-down-list first pt-cases">
	  			</div>
    			<div class="pic-cont" style="height:100%;">
	  			</div>
	  		</div>
	  		<div class="remark">
	  			<%= t 'main.annotations' %><br /><br /><br />
	  		</div>
	  		<a class="submit-btn2 pt-choose-btn-<%= @packaging_item.id -%>" href="javascript:void(0)"><%= I18n.t('main.apply') %></a>
	  	</div>
	  </div>
	</div>
	</p>
<div class="dd-overlay"></div>

<script type="text/javascript">
	$('.dd-input').focus(function(e){
	  $('.remark').html("");
    $.ajax({data:'packagin_item_id=<%= @packaging_item.id -%><%= "&hide_px=true" if @packaging_item.children.count > 0 -%>', dataType:'script', type:'post', url:'/main/cases'});
		$('.drop-down').css('visibility','hidden');
		$('.dd-overlay').css('display','block');
		$(this).parent().find('.drop-down').css('visibility','visible');
		return false;
	});
	$('.choose-btn').click(function(){
		$('.drop-down').css('visibility','hidden');
		$('.dd-overlay').css('display', 'none');
		return false;
	})
 	$('.dd-overlay').click(function(){
  		$('.drop-down').css('visibility','hidden');
  		$('.dd-overlay').css('display', 'none');
	});
	$(".pt-choose-btn-<%= @packaging_item.id -%>").click(function(){
    $(this).parent().find('.pt-cases ul li a').each( function(){
      if ($(this).parent().hasClass('selected')){
        $('#packaging_item_packaging_type').val($(this).parent().attr('id'));
     	 	$('.drop-down').css('visibility','hidden');
    	 	$('.dd-overlay').css('display', 'none');
       	return false;
      }
    });
  });
</script>

<p>
<% if @packaging_item.leaf? || !@packaging_item.id %>
<%=f.text_field :number_of_next_lower_item, :size => 4, :maxlength => 6, :style => "width: 43px; border: 0;", :title=> "Number of Next Lower Item"%>
<% else %>
<%= @packaging_item.number_of_next_lower_item %>
<% end %><span class='t'><%= t 'pi.packages_inside' %></span>
</p>
<p class="pallet <%= "hide" unless @packaging_item.pallet? %>">
<%=f.text_field :quantity_of_layers_per_pallet, :size => 2, :maxlength => 2, :style => "width: 15px; border: 0;", :title=> "Quantity Of Layers Per Pallet"%><span class='t'>слоев, по</span> <%=f.text_field :quantity_of_trade_items_per_pallet_layer, :size => 2, :maxlength => 2, :style => "width: 15px; border: 0;", :title=> "Quantity Of Trade Items Per Pallet Layer" %><span class='t'>уп.</span> <%=f.text_field :stacking_factor, :size => 2, :maxlength => 2, :style => "width: 15px; border: 0;", :title=> "Stacking Factor"%> <span class='t'>стекинг</span>
</p>

<p>
  <%=f.text_field :height, :style => 'width: 25px; border: 0;' %><span class='t'>x</span><%=f.text_field :width, :style => 'width: 25px;border:0' %><span class='t'>x</span><%=f.text_field :depth, :style => 'width: 25px;border:0' %> <span class='t'><%= t 'pi.size' %></span>
</p>
<p>
  <%=f.text_field :gross_weight, :style=> "width: 25px;border: 0;"%><span class='t'><%= t 'pi.gross_weight' %></span>
</p>
</div>

