<div class="pi <%= "pl" if @packaging_item.pallet? %>" id="pi_new">
	<%= f.error_messages %>
	<p>
  	<%= f.text_field :gtin, :style => "border: 0", :title=> "GTIN" %>
	</p>
	<p>
		<div id="cases_input_<%= @packaging_item.id -%>" class="input input_div"> 
  		<%= f.text_field :packaging_type, :style=>"border: 0;", :title =>"Packaging Type" %>
		</div>
	</p>
	<input type="hidden" id="cases_value">
	<div id="cases_<%= @packaging_item.id -%>" class="cases_results cases" style="display:none;">
  	<div class='corner'></div>
  	<a href="#" id="cases_close_<%= @packaging_item.id -%>" class="close"></a>
  	<div id="cases_results_<%= @packaging_item.id -%>" class="inline results_ul">
  </div>
  <div class="cases_man">
  </div>
  <div style="width:100%; position: relative; float: right;" class="inline">
    <hr>
    <a id="cases_select_<%= @packaging_item.id -%>" class="ok_button" href="#"></a>
  </div>
</div>

<script type="text/javascript">
	
	$j('#packaging_item_packaging_type').click(function(){
	  //packaging_item_335_item
	  //packaging_item_new_336
	  <% if @packaging_item.id %>
	    var offset = $j('#cases_input_<%= @packaging_item.id -%>').offset();
	    offset.left +=50;
	    offset.top -=10;
	  <% else %>
	    var offset = $j('#cases_input_').offset();
	    offset.left +=50;
	    offset.top -=10;
	  <% end %>
		$j.ajax({data:'packagin_item_id=<%= @packaging_item.id -%><%= "&hide_px=true" if @packaging_item.children.count > 0 -%>', dataType:'script', type:'post', url:'/main/cases'});
		$j('#cases_<%= @packaging_item.id -%>').appendTo("body");
		$j('#cases_<%= @packaging_item.id -%>').css({
		  left: offset.left+"px",
		  top: offset.top+"px"
		});
		$j('#cases_<%= @packaging_item.id -%>').show();
		return false;
	})
	$j("#cases_close_<%= @packaging_item.id -%>").click(function(){
	  $j("#cases_<%= @packaging_item.id -%>").hide();
	  $j('#hidden_div').hide();
		return false;
	})
	$j("#cases_select_<%= @packaging_item.id -%>").click(function(){
		var li = $j("li.ac_liselected", ".cases_results")[0];
		$j("#cases_input_<%= @packaging_item.id -%> input").val($j(li).attr("id"));
		$j("#cases_<%= @packaging_item.id -%>").hide();
	  $j('#hidden_div').hide();
	  check_pallete($j('#packaging_item_packaging_type'));
	  return false;
	})
</script>

<!--
<p>
  <%#= f.label :item_name_long_ru %>
  <%#= f.text_field :item_name_long_ru %>
</p>-->

<p>
<% if @packaging_item.leaf? || !@packaging_item.id %>
<%=f.text_field :number_of_next_lower_item, :size => 4, :maxlength => 6, :style => "width: 43px; border: 0;", :title=> "Number of Next Lower Item"%>
<% else %>
<%= @packaging_item.number_of_next_lower_item %>
<% end %><span class='t'>уп. внутри</span>
</p>
<p class="pallet <%= "hide" unless @packaging_item.pallet? %>">
<%=f.text_field :quantity_of_layers_per_pallet, :size => 2, :maxlength => 2, :style => "width: 15px; border: 0;", :title=> "Quantity Of Layers Per Pallet"%><span class='t'>слоев, по</span> <%=f.text_field :quantity_of_trade_items_per_pallet_layer, :size => 2, :maxlength => 2, :style => "width: 15px; border: 0;", :title=> "Quantity Of Trade Items Per Pallet Layer" %><span class='t'>уп.</span> <%=f.text_field :stacking_factor, :size => 2, :maxlength => 2, :style => "width: 15px; border: 0;", :title=> "Stacking Factor"%> <span class='t'>стекинг</span>
</p>
<!--
<p>
  <%#= f.check_box :despatch_unit %>
  <%#= f.label :despatch_unit, 'DU' %>
  <%#= f.check_box :invoice_unit %>
  <%#= f.label :invoice_unit, 'IU' %>
  <%#= f.check_box :order_unit %>
  <%#= f.label :order_unit, 'OU' %>
  <%#= f.check_box :consumer_unit %>
  <%#= f.label :consumer_unit, 'CU' %>
</p>-->
<p>
<%=f.text_field :height, :style => 'width: 25px; border: 0;' %><span class='t'>x</span><%=f.text_field :width, :style => 'width: 25px;border:0' %><span class='t'>x</span><%=f.text_field :depth, :style => 'width: 25px;border:0' %> <span class='t'>(В x Д x Ш)</span>
</p>
<p>
<%=f.text_field :gross_weight, :style=> "width: 25px;border: 0;"%><span class='t'>г. брутто</span>
</p>
</div>
