<%= f.error_messages %>

<p>
  <%= f.label :gtin %><br />
  <%= f.text_field :gtin %>
</p>

<p>
  <%= f.label :item_name_long_ru %>
  <%= f.text_field :item_name_long_ru %>
</p>

<p>
number of next lower item<br />
<%=f.text_field :number_of_next_lower_item%>
</p>

<p>
  <%= f.check_box :despatch_unit %>
  <%= f.label :despatch_unit, 'DU' %>
  <%= f.check_box :invoice_unit %>
  <%= f.label :invoice_unit, 'IU' %>
  <%= f.check_box :order_unit %>
  <%= f.label :order_unit, 'OU' %>
  <%= f.check_box :consumer_unit %>
  <%= f.label :consumer_unit, 'CU' %>
</p>

<p>
gross weight<br />
<%=f.text_field :gross_weight%>
</p>

<p>
  <%= f.label :packaging_type %>
  <%= f.select :packaging_type, @base_item.packaging_types %>
</p>

<p>
  H <%=f.text_field :height, :style => 'width: 43px;' %>
  W <%=f.text_field :width, :style => 'width: 43px;' %>
  D <%=f.text_field :depth, :style => 'width: 43px;' %>
</p>
