<div class="pi <%= "pl" if @packaging_item.pallet? %>" id="pi_new">
	<%= f.error_messages %>
	<%= pi_image_tag @packaging_item, :class=> 'i-img', :id => "pi-id-#{@packaging_item.id}", :width=> '64', :height => '64' %>
  <div class="logistics-item-in-1-top">
  <% if @packaging_item.leaf? || !@packaging_item.id %>
    <%=f.text_field :number_of_next_lower_item, :size => 4, :maxlength => 6, :class=>"w18", :title=> "Number of Next Lower Item"%>
  <% else %>
      <%= @packaging_item.number_of_next_lower_item %>
  <% end %>
    <span class="logistics-item-title"><%= t('pi.inside')%></span>
  </div>

    <div id="cases_input_<%= @packaging_item.id -%>" style='margin:0;padding:0;'>
	  	<div class="drop-down-cont zi-5 fleft">
    	  <%= f.hidden_field :packaging_name, :style=>"border: 0;", :title =>"Packaging Type",:class=>'dd-input' %>
    	  <a class="drop-down-link item-qnt" id='packaging_item_packaging_name_link' href="#">
       	  <%= @packaging_item.packaging_name.present? ? @packaging_item.packaging_name : t('pi.select')%>
    	  </a>
	    	<div class="drop-down pic" >
	    		<div class="blue-tarr"></div>
	    		<div class="drop-down-list-cont" style ="width:400px;">
	    			<div id="cases_results_<%= @packaging_item.id -%>" style="width:100%" class="drop-down-list first pt-cases">
	    			</div>
      			<div class="pic-cont" style="height:100%;">
	  			</div>
	      		</div>
	    		<div class="remark">
	      			<%= t 'main.annotations' %><br /><br /><br />
	    		</div>
	      		<a class="submit-btn2 pt-choose-btn-<%= @packaging_item.id -%>" href="javascript:void(0)"><%= I18n.t('main.apply') %></a>
	    	</div>
	    </div>
	  </div>

  <table class="input-table" cellpadding="0" cellspacing="0" border="0">
									<tbody><tr>
										<td colspan="2" class="gnt" width = '30px'>
    									<%= f.text_field :gtin, :class=>'w110', :title=> t('item.gtin') %>
										</td>
									</tr>
									<tr>
										<td><%=t('pi.height')%>:</td>
										<td>
										  <%=f.text_field :height, :class => 'w44' %> <%= t('uom.mm')%>
										</td>
									</tr>
									<tr>
										<td><%=t('pi.width')%>:</td>
										<td>
										  <%=f.text_field :width, :class => 'w44' %> <%= t('uom.mm')%>
										</td>
									</tr>
									<tr>
										<td><%=t('pi.depth')%>:</td>
										<td>
										  <%=f.text_field :depth, :class => 'w44' %> <%= t('uom.mm')%>
										</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td width="50px"><%= t('pi.gross_weight')%>:</td>
										<td><%=f.text_field :gross_weight, :class=>"w44"%> <%= t('uom.grm')%></td>
									</tr>
	</tbody></table>
									<table class="rb-table" cellpadding="0" cellspacing="0" border="0">
										<tbody><tr>
											<td><span class="jNiceWrapper"><input type="checkbox" name="rb1" id="cbconsumer" class="jNiceHidden" style="opacity: 0; "><span class="jNiceCheckbox jNiceChecked"></span></span></td>
											<td width="44"><label for="cbconsumer"><img src="/images/newdesign/icon-consumer-unit-3.jpg" height="23" alt=""></label></td>


											<td><span class="jNiceWrapper"><input type="checkbox" name="rb1" id="cbdelivery" class="jNiceHidden" style="opacity: 0; "><span class="jNiceCheckbox jNiceChecked"></span></span></td>
											<td width="44"><label for="cbdelivery"><img src="/images/newdesign/icon-delivery-unit-2.jpg" height="23" alt=""></label></td>


										</tr>
									</tbody></table>


<div class="dd-overlay"></div>

<script type="text/javascript">
	$('.drop-down-link').click(function(e){
	  $('.remark').html("");
    $.ajax({data:'packagin_item_id=<%= @packaging_item.id -%><%= "&hide_px=true" if @packaging_item.children.count > 0 -%>', dataType:'script', type:'post', url:'/main/cases'});
		$('.drop-down').css('visibility','hidden');
		$('.dd-overlay').css('display','block');
		$(this).parent().find('.drop-down').css('visibility','visible');
		return false;
	});
	$('.choose-btn').click(function(){
		$('.drop-down').css('visibility','hidden');
		$('.dd-overlay').css('display', 'none');
		return false;
	})
 	$('.dd-overlay').click(function(){
  		$('.drop-down').css('visibility','hidden');
  		$('.dd-overlay').css('display', 'none');
	});
	$(".pt-choose-btn-<%= @packaging_item.id -%>").click(function(){
		  var btn = $(this);
    $(this).parent().find('.pt-cases ul li a').each( function(){
      if ($(this).parent().hasClass('selected')){
        $('#packaging_item_packaging_name').val($(this).html());
        $('#packaging_item_packaging_name_link').html($(this).html());
     	 	$('.drop-down').css('visibility','hidden');
    	 	$('.dd-overlay').css('display', 'none');
        <%="$('#pi-id-#{@packaging_item.id}')"%>.attr('src', $(btn).parent().find('.pic-cont img').attr('src'));
       	return false;
      }
    });
  });
</script>
</div>

