<div id="packaging_items">
  <h2><%= t 'main.logistic' %></h2>
  <table style="background: #FFF">
    <tr>
      <td valign="top" style="vertical-align: top;">
        <div class='pi-cont' >
          <div class="pi edited" id="first_pi">
            <% unless @view_only || @base_item.published? %>
              <div class="edit-delete2">
                <%= link_to '', edit_base_item_path(@base_item, :step => 2), {:method => :get, :remote => true}  %>
	    			  </div>
            <% end %>
            <%= pi_image_tag @base_item, :class=> 'i-img', :width=> '64', :height => '64' %>
	  			  <span class="logistics-item-title"><strong><%= %></strong><%= h @base_item.calculate_packaging_type%></span>
	  			  <br/>
	  			  <span class="logistics-item-title-2"><strong>1</strong> <%= t 'pi.packages_inside' %> <strong>1</strong> <%= t 'pi.items' %></span>

	  			  <table class="input-table-edited" width="116" cellpadding="0" cellspacing="0" border="0">
						<tbody><tr>
							<td colspan="2" class="art"><%= h @base_item.gtin %></td>
						</tr>
						<tr>
							<td><%= t('pi.height')%>:</td>
							<td><%= h @base_item.height %> мм</td>
						</tr>
						<tr>
							<td><%= t('pi.width')%>:</td>
							<td><%= h @base_item.width %> мм</td>
						</tr>
						<tr>
							<td><%= t('pi.depth')%>:</td>
							<td><%= h @base_item.depth %> мм</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= t('pi.gross_weight')%>:</td>
							<td><%= h @base_item.gross_weight %> г</td>
						</tr>
						<tr>
							<td><%= t('pi.net_weight')%>:</td>
							<td><%= h @base_item.net_weight %> г</td>
						</tr>
  					</tbody></table>
					  <img class="u-img" src="/images/newdesign/icon-delivery-unit-2.jpg" height="23" alt="">
            <% unless @view_only || @base_item.published? %>
              <%= link_to content_tag(:span, t('pi.pack')),"javascript:void(0)", :class=> 'blue-btn', :onclick => "packageMe(#{@base_item.id})" %>
            <% end %>
          </div>
        </div>
      </td>
<td>
<%= recursive_tree_output @packaging_items, :class => 'items', :id => 'items' do |item| %>
  <div class="item" id="<%= dom_id item %>_item">
    <%= render :partial => 'packaging_items/item', :object => item %>
  </div>
<% end %>
</td>
</tr>
</table>
<script type="text/javascript">
	$('.pi').hover(function(){
		$(this).addClass('min-pi-hover');
		$(this).parent().addClass('min-pi-cont-hover');
	},
	function(){
		$(this).removeClass('min-pi-hover');
		$(this).parent().removeClass('min-pi-cont-hover');
	})
</script>
<%= javascript_tag do %>
  $('#items li').each(function(element) {
    if (!$(this).find('ul')[0]) {
      var ul = "<ul></ul>"
      $(this).append(ul);
    }
  });
  <% unless @view_only || @base_item.published? %>
  var li = "<li class='pack new' id='packaging_item_new'></li>";
  $(li).appendTo('#items');
  $('#items ul').each(function(element) {
    var id = $(this).parent().attr('id').replace(/packaging_item_/, '');
    var element = "<li class='pack new' id='packaging_item_new_" + id +"'><div class='item' style='display:none'></div></li>";
    $(this).append(element);
  });
  <% end %>
 // setHeights();
<% end %>
<div class="clear"></div>
</div>

