<div id="packaging_items">
<h2><%= t 'item.logistic' %></h2>
<table style="background: #FFF">
<tr>
<td valign="top" style="vertical-align: top;">
<div class="pi" id="first_pi">
<h3 <%= highlight(:gtin, @base_item, @accepted_base_item) if @accepted_base_item -%>><%= h @base_item.gtin %></h3>
<p <%= highlight(:packaging_type, @base_item, @accepted_base_item) if @accepted_base_item -%>><%= h @base_item.packaging_type %></p>
<p><span class='d'>1</span> <span class='t'><%= t 'pi.packages_inside' %></span> <span class='d'>1</span> <span class='t'><%= t 'pi.items' %></span></p>
<p <%= highlight(:calculate_dimensions, @base_item, @accepted_base_item) if @accepted_base_item -%>><%= calculate_dimensions @base_item -%></p>
<p <%= highlight(:calculate_weights, @base_item, @accepted_base_item) if @accepted_base_item -%>><%= calculate_weights @base_item %></p>
<% unless @view_only || @base_item.published? %>
<%= link_to t('main.edit'), edit_base_item_path(@base_item, :step => 2), {:method => :get, :remote => true}  %>
<p>
&nbsp;
</p>
<div class="fleft"></div>
<div class="fright" style="margin-right: 25px;">
  <%= link_to t('pi.pack'),"#", :onclick => "packageMe(#{@base_item.id})" %>
<% end %>
</div>
</td>
<td>
<%= recursive_tree_output @packaging_items, :class => 'items', :id => 'items' do |item| %>
  <div class="item" id="<%= dom_id item %>_item">
    <%= render :partial => 'packaging_items/item', :object => item %>
  </div>
<% end %>
</td>
</tr>
</table>
<%= javascript_tag do %>
  $j('#items li').each(function(element) {
    if (!$j(this).find('ul')[0]) {
      var ul = "<ul></ul>"
      $j(this).append(ul);
    }
  });
  <% unless @view_only || @base_item.published? %>
  var li = "<li class='pack new' id='packaging_item_new'></li>";
  $j(li).appendTo('#items');
  $j('#items ul').each(function(element) {
    var id = $j(this).parent().attr('id').replace(/packaging_item_/, '');
    var element = "<li class='pack new' id='packaging_item_new_" + id +"'><div class='item' style='display:none'></div></li>";
    $j(this).append(element);
  });
  <% end %>
 // setHeights();
<% end %>
<div class="clear"></div>
</div>

