<h2>Логистика</h2>
<table>
<tr>
<td valign="top" style="vertical-align: top;">
<div style="border: 1px solid #666;">
<h3><%= h @base_item.gtin %></h3>
<p><%= h @base_item.packaging_type %></p>
<p><%= h @base_item.height %> x <%=h @base_item.width %> x <%=h @base_item.depth %> (В x Д x Ш)</p>
<p><%= @base_item.gross_weight %> грамм</p>
</div>
</td>
<td>
<% recursive_tree_output @packaging_items, :class => 'items', :id => 'items' do |item| %>
  <div class="item" id="<%= dom_id item %>_item">
    <%= render :partial => 'packaging_items/item', :object => item %>
  </div>
<% end %>
</td>
</tr>
</table>
<% javascript_tag do %>
  $$('#items li').each(function(element) {
    if (!element.select('ul')[0]) {
      var ul = new Element('ul');
      element.appendChild(ul);
    }
  });
  <% unless @view_only || @base_item.published? %>
  $$('#items ul').each(function(element) {
    var id = element.up('li').id.gsub(/packaging_item_/, '');
    var li = new Element('li', { className: 'new', id: 'packaging_item_new_' + id  });
    li.update('<div class="item" style="display:none"></div>')
    //li.update('<div class="item"><a onclick="new Ajax.Request(\'/base_items/<%= @base_item.id %>/packaging_items/' + id + '/new_sub\', {asynchronous:true, evalScripts:true, method:\'get\'}); return false;" href="#">упаковать</a></div>');
    element.appendChild(li);
  });
  var li = new Element('li', { className: 'new', id: 'packaging_item_new' });
  li.update('<div class="item"><a onclick="new Ajax.Request(\'/base_items/<%= @base_item.id %>/packaging_items/new\', {asynchronous:true, evalScripts:true, method:\'get\'}); return false;" href="#">упаковать</a></div>');
  $('items').appendChild(li);
  <% end %>
  setHeights();
<% end %>
<div class="clear"></div>
