<% accepted_packaging_item = @accepted_base_item.packaging_items.detect{|i|i.gtin == item.gtin} if @accepted_base_item %>
<%= render :partial => "packaging_items/arrow", :locals => {:item => item} %>
        <div class='pi-cont' >
          <div class="pi edited">
            <% unless @view_only || @base_item.published? %>

              <div class="edit-delete<%= '2' unless item.leaf? %>">
                <%= link_to '',  edit_base_item_packaging_item_path(@base_item, item),{ :method => :get, :remote => true} %>
                <%= link_to '', base_item_packaging_item_path(@base_item, item), {:confirm => t('main.confirm'), :method => :delete, :remote => true} if item.leaf? %>
  	  			  </div>
            <% end %>
            <%= pi_image_tag item, :class=> 'i-img', :width=> '64', :height => '64' %>
	  			  <span class="logistics-item-title"><strong><%= %></strong><%= h item.calculate_packaging_type%></span>
	  			  <br/>
	  			  <span class="logistics-item-title-2"><%= calculate_quantity item %></span>

	  			  <table class="input-table-edited" width="116" cellpadding="0" cellspacing="0" border="0">
						<tbody><tr>
							<td colspan="2" class="art"><%= h item.gtin %></td>
						</tr>
						<tr>
							<td><%= t('pi.height')%>:</td>
							<td><%= h item.height %> мм</td>
						</tr>
						<tr>
							<td><%= t('pi.width')%>:</td>
							<td><%= h item.width %> мм</td>
						</tr>
						<tr>
							<td><%= t('pi.depth')%>:</td>
							<td><%= h item.depth %> мм</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= t('pi.gross_weight')%>:</td>
							<td><%= h item.gross_weight %> г</td>
						</tr>
						<tr>
							<td><%= t('pi.net_weight')%>:</td>
							<td><%= h item.net_weight %> г</td>
						</tr>
  					</tbody></table>
					  <img class="u-img" src="/images/newdesign/icon-delivery-unit-2.jpg" height="23">
            <% unless @view_only || @base_item.published? %>
              <% unless item.pallet? %>
                  <%= link_to content_tag(:span, t('pi.pack')) ,"javascript:void(0)", :class=> 'blue-btn', :onclick => "packageMeWithSub(#{@base_item.id},#{item.id})" %>
              <% end %>
            <% end %>
          </div>
        </div>
<!--
<div class="pi <%= "highlight" if @accepted_base_item && !accepted_packaging_item -%> <%= "pl" if item.pallet? %>">
  <h3 <%= highlight(:gtin, item, accepted_packaging_item) if accepted_packaging_item -%>><%= h item.gtin %></h3>
  <p <%= highlight(:packaging_type, item, accepted_packaging_item) if accepted_packaging_item -%>><%= h item.calculate_packaging_type %></p>
  <p <%= highlight(:calculate_quantity, item, accepted_packaging_item) if accepted_packaging_item -%>><%= calculate_quantity item %></p>
  <% if item.pallet? %><p><%= calculate_pallet item %></p><% end %>
  <p <%= highlight(:calculate_dimensions, item, accepted_packaging_item) if accepted_packaging_item -%>><%= calculate_dimensions(item) -%></p>
  <p <%= highlight(:calculate_weights, item, accepted_packaging_item) if accepted_packaging_item -%>><%= calculate_weights(item) %></p>
  <% unless @view_only || @base_item.published? %>
    <%#= link_to_remote 'править', :url => edit_base_item_packaging_item_path(@base_item, item), :method => :get if item.leaf? %>
    <%= link_to t('main.edit'),  edit_base_item_packaging_item_path(@base_item, item),{ :method => :get, :remote => true} %>
  <% end %>
</div>
-->
<!--<% unless @view_only || @base_item.published? %>
  <p>
    <small>
      <div class="fleft">
        <%= link_to t('main.cancel'), base_item_packaging_item_path(@base_item, item), {:confirm => t('main.confirm'), :method => :delete, :remote => true} if item.leaf? %>
      </div>
      <% unless item.pallet? %>
        <div class="fright">
          <%= link_to t('pi.pack') ,"javascript:void(0)", :onclick => "packageMeWithSub(#{@base_item.id},#{item.id})" %>
        </div>
      <% end %>
    </small>
  </p>
  <div class="clear"></div>
<% end %>-->

