<div class="arrow">⇨</div>
<p><%= h item.gtin %></p>
<p><%= h item.item_name_long_ru %>, <%= item.gross_weight %> кг</p>
<p>Д<%= h item.width %> В<%= h item.height %> Г<%= h item.depth %> мм</p>
<p>Внутри <%= h item.number_of_next_lower_item %> уп., <%= item.number_of_bi_items %> ед.</p>
<p><%= link_to_remote 'править', :url => edit_base_item_packaging_item_path(@base_item, item), :method => :get if item.leaf? %>
<%= link_to_remote 'удалить', :url => base_item_packaging_item_path(@base_item, item), :confirm => 'Are you sure?', :method => :delete if item.leaf? %></p>
