<% accepted_packaging_item = @accepted_base_item.packaging_items.detect{|i|i.gtin == item.gtin} if @accepted_base_item %>
<%= render :partial => "packaging_items/arrow", :locals => {:item => item} %>
<div class="pi <%= "highlight" if @accepted_base_item && !accepted_packaging_item -%> <%= "pl" if item.pallet? %>">
<h3 <%= highlight(:gtin, item, accepted_packaging_item) if accepted_packaging_item -%>><%= h item.gtin %></h3>
<p <%= highlight(:packaging_type, item, accepted_packaging_item) if accepted_packaging_item -%>><%= h item.packaging_type %></p>
<p <%= highlight(:calculate_quanity, item, accepted_packaging_item) if accepted_packaging_item -%>><%= item.calculate_quanity %></p>
<% if item.pallet? %><p><%= item.calculate_pallet %></p><% end %>
<p <%= highlight(:calculate_dimmensions, item, accepted_packaging_item) if accepted_packaging_item -%>><%= item.calculate_dimmensions -%></p>
<p <%= highlight(:calculate_weights, item, accepted_packaging_item) if accepted_packaging_item -%>><%= item.calculate_weights %></p>
<% unless @view_only || @base_item.published? %>
<%#= link_to_remote 'править', :url => edit_base_item_packaging_item_path(@base_item, item), :method => :get if item.leaf? %>
<%= link_to 'править',  edit_base_item_packaging_item_path(@base_item, item),{ :method => :get, :remote => true} %>
<% end %>
</div>
<% unless @view_only || @base_item.published? %>
<p><small>
<div class="fleft">
<%= link_to 'отменить', base_item_packaging_item_path(@base_item, item), {:confirm => 'Are you sure?', :method => :delete, :remote => true} if item.leaf? %></div>
<% unless item.pallet? %>
<div class="fright">
  <%= link_to "упаковать","javascript:void(0)", :onclick => "packageMeWithSub(#{@base_item.id},#{item.id})" %>
</div>
<% end %>
</small>
</p>
<div class="clear"></div>
<% end %>

