<% accepted_packaging_item = @accepted_base_item.packaging_items.detect{|i|i.gtin == item.gtin} if @accepted_base_item %>
<%= render :partial => "packaging_items/arrow", :locals => {:item => item} %>
<div class="pi <%= "highlight" if @accepted_base_item && !accepted_packaging_item -%> <%= "pl" if item.pallet? %>">
<h3 <%= highlight(:gtin, item, accepted_packaging_item) if accepted_packaging_item -%>><%= h item.gtin %></h3>
<p <%= highlight(:packaging_type, item, accepted_packaging_item) if accepted_packaging_item -%>><%= h item.calculate_packaging_type %></p>
<p <%= highlight(:calculate_quantity, item, accepted_packaging_item) if accepted_packaging_item -%>><%= calculate_quantity item %></p>
<% if item.pallet? %><p><%= calculate_pallet item %></p><% end %>
<p <%= highlight(:calculate_dimensions, item, accepted_packaging_item) if accepted_packaging_item -%>><%= calculate_dimensions(item) -%></p>
<p <%= highlight(:calculate_weights, item, accepted_packaging_item) if accepted_packaging_item -%>><%= calculate_weights(item) %></p>
<% unless @view_only || @base_item.published? %>
<%#= link_to_remote 'править', :url => edit_base_item_packaging_item_path(@base_item, item), :method => :get if item.leaf? %>
<%= link_to t('main.edit'),  edit_base_item_packaging_item_path(@base_item, item),{ :method => :get, :remote => true} %>
<% end %>
</div>
<% unless @view_only || @base_item.published? %>
<p><small>
<div class="fleft">
<%= link_to t('main.cancel'), base_item_packaging_item_path(@base_item, item), {:confirm => t('main.confirm'), :method => :delete, :remote => true} if item.leaf? %></div>
<% unless item.pallet? %>
<div class="fright">
  <%= link_to t('pi.pack') ,"javascript:void(0)", :onclick => "packageMeWithSub(#{@base_item.id},#{item.id})" %>
</div>
<% end %>
</small>
</p>
<div class="clear"></div>
<% end %>

