<div class="item">
<div class="single-arrow"></div>

<%= form_for @packaging_item, base_item_packaging_items_path(@base_item), :remote => true do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.hidden_field :parent_id %>
  <p>
  <div class="fleft min">
    <%= f.submit "Упаковать" %>
  </div>
  <div class="fright min">
  <%= button_to 'Отмена', base_item_packaging_items_path(@base_item), {:method => :get, :remote => true} %>
  </div>
  </p>
<% end %>
</div>

