<div class='pi-cont edited'>
	<div class="bt"></div>
	<div class="tree-larr"></div>
  <%= form_for @packaging_item, :url => base_item_packaging_items_path(@base_item), :remote => true do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.hidden_field :parent_id %>
    <%= f.submit t('pi.pack'), :class=> 'submit-btn accept-btn' %>
  <% end %>
  <%= link_to content_tag(:span, t('main.cancel')), 'javascript:void(0)', {:onclick => "deleteLeaf(this);return false;",:class=> 'blue-btn cancel-btn'} %>
</div>

