<h1>New packaging_item</h1>
<%=debug @parent %>

<% form_for(@packaging_item, :url => {:controller => :packaging_items, :action => :create, :parent_id => defined?(@parent) ? @parent.id : nil}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :record_code %><br />
    <%= f.text_field :record_code %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%=render :partial => "url_bar", :locals => {:article => @article, :disable_new => true} %>
