- title t('.title')

#left-side
  .cat-invisible

#middle-side
  .wrap
    .address
      %a
        = User.human_attribute_name :gln
        = @user.gln
    #profile-info
      .info-wrap
        %h3{:class=>'title'}
          = t('.title')
        = render 'form'
        - if can? :index, User
          = link_to t('back'), users_path, :class => 'add-product'
        - if can? :show, User
          = link_to t('show'), @user, :class => 'add-product'
