#left-side
  .cat

#middle-side
  .wrap
    .address
      %a
        = @user.gln    
    #profile-info
      .info-wrap
        %h3{:class=>'title'} 
          Main Information
        %table{:cellspacing => 0, :cellpadding => 0}
          %tr
            %td
              %span
                = t('user.namĞµ')
            %td
              = @user.name
          %tr
            %td
              %span
                = t('user.company_name')
            %td
              = @user.company_name              
          %tr
            %td
              %span
                = t('user.contacts')
            %td
              = @user.contacts
          %tr
            %td
              %span
                = t('user.email')
            %td
              = @user.email
          %tr
            %td
              %span
                = t('user.website')
            %td
              = @user.website
          %tr
            %td
              %span
                = t('user.language')
            %td
              = @user.locale
        =link_to t('user.edit'), edit_user_path(@user)
