- title t('.title')

#left-side
  .cat-invisible

#middle-side
  .wrap
    .address
      %a
        = User.human_attribute_name :gln
        = @user.gln
    #profile-info
      .info-wrap
        %h3{:class=>'title'}
          = t('.title')
        %table{:cellspacing => 0, :cellpadding => 0}
          %tr
            %td
              %span
                = User.human_attribute_name :active
            %td
              = t @user.active.to_s
          %tr
            %td
              %span
                = User.human_attribute_name :name
            %td
              = @user.name
          %tr
            %td
              %span
                = User.human_attribute_name :company_name
            %td
              = @user.company_name
          %tr
            %td
              %span
                = User.human_attribute_name :contacts
            %td
              = @user.contacts
          %tr
            %td
              %span
                = User.human_attribute_name :email
            %td
              = @user.email
          %tr
            %td
              %span
                = User.human_attribute_name :website
            %td
              = @user.website
          %tr
            %td
              %span
                = User.human_attribute_name :locale
            %td
              = @user.locale

        - if can? :index, User
          = link_to t('back'), users_path
        - if can? :edit, User
          = link_to t('edit'), edit_user_path(@user), :id =>'edit_user_info_link'

