!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
  %body
    %p
      Hi,
      = @owner.first_name

    %p
      = "Welcome to #{Settings.project_name} and thanks for signing up! We've just created a new account for your company, #{@account.company_name}."

    %p
      Sign in to your account:
      %br
      = @url

    %p
      Login:
      %br
      = @owner.email

    %p
      If you have any questions or feedback, please don't hesitate to contact us at
      = Settings.links.feedback

    %p
      All the best,
      %br
      = "The #{Settings.project_name} Team"
      %br
      = Settings.links.project_home

