<div id="middle-side" style="width:100%;">
  <div id="event">
    <div class="address">
      <h1><%= t 'event.title' %></h1>
      <% od = @events.first.created_at.to_s(:event) if @events.length > 0 %>
      <%= "<span class='event-date'>#{od}</span>".html_safe if od %>
    </div>
    <div class="sort-btn">
    </div>
    <div id="products" width="100%">
        <% @events.each do |e| %>
        <% cd = e.created_at.to_s(:event) %>
        <% if cd != od %>
        <% od = cd %>
        <%= "<span class='event-date'>#{od}</span>".html_safe if od %>
        <div class="sort-btn">
        </div>
        <% end %>
      <div class="item">
        <div class="event-<%= e.content_type.downcase %>"><%= e.content_type %></div>
        <div class="fleft"><%= event_url(current_user,e) %></div>
        <div class="item-right"><%= e.user.name %></div>
        <div class="clear"></div>
      </div>
        <% end %>
      <div class="page">
        <%= html_pager(@events) %>
      </div>
    </div>
  </div>
</div>
