<h2>Event Log</h2>
<% od = @events.first.created_at.to_s(:event) if @events.length > 0 %>
<%= "<span class='event-date'>#{od}</span>".html_safe if od %>
<% @events.each do |e| %>
<% cd = e.created_at.to_s(:event) %>
<% if cd != od %>
<% od = cd %>
<%= "<span class='event-date'>#{od}</span>".html_safe if od %>
<% end %>
<div class="clear" style="margin: 1em; border-bottom: 1px solid #EEE;">
  <div class="event-<%= e.content_type.downcase %>"><%= e.content_type %></div>
  <div style="float: left"><%= e.url(current_user) %></div>
  <div class="event-author"><%= e.user.name %></div>
<div class="clear"></div>
</div>
<% end %>
<%= html_pager(@events) %>

