<div class="item gtin-subscription" id="gtin-<%=gtin[:gtin]%>">
<%if gtin[:bi].nil?%>
    <%if gtin[:errors]%>
        <div class="img"><img src="/images/item_image_small.jpg" width="50px" alt="Item Image"/></div>
        <div id='bi-content-<%=gtin[:gtin]%>' class="desc bi-content gtin-error">
          <div style='float:right'>
            <%= link_to_function 'Редактировать',"editGtin('#{gtin[:gtin]}')"%> |
            <%= link_to_function 'Удалить',"if (confirm('Вы уверены?')) removeGtin('#{gtin[:gtin]}')" %>
          </div>
          <span class="art"><%= gtin[:gtin] %></span>
          <div class="usual"><%= gtin[:errors] %></div>
        </div>
    <%else%>
        <div class="img"><img src="/images/item_image_small.jpg" width="50px" alt="Item Image"/></div>
        <div id='bi-content-<%=gtin[:gtin]%>' class="desc bi-content gtin-nil">
          <div style='float:right'>
            <%= link_to_function t('main.edit'),"editGtin('#{gtin[:gtin]}')"%> |
            <%= link_to_function t('main.delete'),"if (confirm(#{I18n.t('main.confirm')})) removeGtin('#{gtin[:gtin]}')" #????????%>
          </div>
          <span class="art"><%= gtin[:gtin] %></span>
          <p class="adres"><%= t 'subscription.not_found' %></p>
        </div>
    <%end%>
<%else%>
  <%base_item = gtin[:bi]%>
        <%= render :partial => '/base_items/popup',:locals=>{:base_item => base_item} %>
        <div class="img"><img src="<%= base_item.item.alt_image_url('small') %>" width="50px" alt="Item Image"/></div>
        <div id='bi-content-<%=gtin[:gtin]%>' class="bi-content">
          <div style='float:right'>
            <%= link_to_function t('main.edit'),"if (confirm(#{I18n.t('main.confirm')})) editGtin('#{gtin[:gtin]}')"%> |
            <%= link_to_function t('main.delete'),"if (confirm(#{I18n.t('main.confirm')})) removeGtin('#{gtin[:gtin]}')" %>
          </div>
          <%= link_to base_item.gtin, base_item_path(base_item),:class=>'art'  %> <%= shorten_label base_item.item_description, 24 %>
          <p class="adres"><%= base_item.user.name %></p>
        </div>
        <%= hidden_field_tag 'base_items[]', base_item.id %>
<%end%>
<div class="stat"><span class="stat-3"></span></div>
<div class="clr"></div>
</div>

