<table>
	<tr>
		<td>
			<%= result.subscription.supplier.gln -%>
		</td>
		<td>
			<%= result.subscription.supplier.name -%>
		</td>
		<% unless result.accepted? -%>
			<td>
				<%= form_for(result) do |f| %>
					<%= f.submit t('sr.accept'), :name => 'accept' %>
				<% end %>
			</td>
			<td>
				<%= form_for(result) do |f| %>
					<%= f.submit t('sr.cancel'), :name => 'cancel' %>
				<% end %>
			</td>
		<% end -%>
	</tr>
</table>
<<<<<<< HEAD
=======

>>>>>>> rails3

