            	<div class="item <%= 'refused' if result.canceled?%>" id="sr-<%= result.id %>">
            		<div class="item-right">
            			<span class="date"><%= humanize_date(result.base_item.updated_at) %></span>
            			<div class="item-right-btns">
            			    <% if result.new? %>
              			<% link_to("javascript:void(0)", {:class=>'blue-btn', :onclick => "acceptOrCancelSR(#{result.id},'accept',event)"}) do %>
              			  <span><%= t('sr.accept')%></span>
              			<%end%>
                    <%= link_to('', "javascript:void(0)", {:class=>'close-btn', :onclick => "acceptOrCancelSR(#{result.id},'cancel',event)"}) %>
                    <%else%>
                     <span class="accepted"><%= result.status %></span>
                    <%end%>
            			</div>
            		</div>
            		<!--<img class="new-label" src="/images/newdesign/new-label.png" width="93" height="28" alt="" />-->
            		<div class="img">
            			<img src="<%= result.base_item.item.image_url('small') %>" width="50px" alt="Supplier Image"/>
            		</div>
            		<div class="item-center">
            		  <%= link_to result.base_item.gtin, base_item_path(result.base_item, :view => true, :subscription_result_id => result.id), :class=>'art'%>
                  <span><%= result.base_item.user.name %></span><br />
            			<span class="product-name"><%= result.base_item.item_description %></span><br />
            			<span class="changes"><%= result.status %></span>
            		</div>
            	</div>

