<div id='left-side'>
  <div class="top-box">
  </div>
  <%= render '/nav' %>

</div>
<!--/filters-->
<!--data-->
<div id="middle-side">
  <div class="wrap">
    <div class="address"><a href="#"><%= t 'sr.inbox' %></a></div>
    <div id="goods-list-short">
       <div class="short-wrap">
                <% @results.each do |r| %>
                    <div class="item">
                      <div class="img">
                        <img src='/images/item_image_small.jpg' />
                      </div>
                      <div class="desc">
                        <p>
                          <%= link_to r[0].supplier.gln, subscription_result_path(r[0]),:class=>'art'  %> <%= r[0].supplier.name %>
                          <span class='adres fright'>
                          <%= t 'sr.new_or_changed_items' %>: <b class='col'><%= r[0].new_items_count + r[0].changed_items_count %></b>
                          </span>
                        </p>
                        <p class="adres">
                          <%= t('sr.updated')%>: <%=r[1].sort_by(&:updated_at).first.updated_at.to_s(:short)%>
                        </p>
                      </div>
                      <div class="stat"><span class="stat-3"></span></div>
                      <div class="clr"></div>
                    </div>
                <% end %>

          </div>
    </div>
    </div>
  </div>
</div>

