<h1><%= t 'sr.inbox' %></h1>
<br/>
<table class="results">
<tr>
  <td><%= t 'user.gln' %></td><td><%= t 'user.name' %></td><td><%= t 'sr.date' %></td><td><%= t 'sr.new' %></td><td><%= t 'sr.changed' %></td>
</tr>
<% @results.each do |r| %>
<tr>
	<td>
		<%= link_to r[0].supplier.gln, subscription_result_path(r[0]) %>
	</td>
	<td>
		<%= link_to r[0].supplier.name, subscription_result_path(r[0]) %>
	</td>
	<td>
		<%= link_to r[1].sort_by(&:updated_at).first.updated_at, subscription_result_path(r[0]) %>
	</td>
	<td>
		<%= link_to r[0].new_items_count, subscription_result_path(r[0]) %>
	</td>
	<td>
		<%= link_to r[0].changed_items_count, subscription_result_path(r[0]) %>
	</td>
</tr>
<% end %>
</table>
