- title t('.title')

- content_for(:sidebar) do
  = link_to t("back"), :back

= simple_form_for(resource, :as => resource_name, :url => admin_registration_path, wrapper: :inline, html: { method: :put }) do |f|
  = f.error_notification
  .inputs
    = f.input :email
    = f.input :password
  .actions
    = f.button :submit, t("update"), class: "primary"
    = button_tag t("cancel"), type: :reset, class: "btn"
