<table style="background: #FFF">
<tr class="info">
<td>
GTIN
</td>
<td>
Internal item id
</td>
</tr>
<tr class="val">
<td <%= highlight(:gtin, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.gtin %>
</td>
<td <%= highlight(:internal_item_id, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.internal_item_id%>
</td>
</tr>
<tr class="info">
<td>
Brand
</td>
<td>
Subbrand
</td>
<td>
Functional
</td>
<td colspan="2">
Content
</td>
</tr>
<tr class="val">
<td <%= highlight(:brand, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.brand %>
</td>
<td <%= highlight(:subbrand, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.subbrand %>
</td>
<td <%= highlight(:functional, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.functional %>
</td>
<td <%= highlight(:content, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.content%>
</td>
<td <%= highlight(:calculate_content, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_content %>
</td>
</tr>
<tr class="info">
<td colspan="4">
Item Description
</td>
</tr>
<tr class="val">
<td colspan="4" <%= highlight(:item_description, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.item_description %>
</td>
</tr>
<tr class="info">
<td>
Manufacturer GLN
</td>
<td>
Manufacturer name
</td>
<td>
Country of origin
</td>
</tr>
<tr class="val">
<td <%= highlight(:manufacturer_gln, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.manufacturer_gln %>
</td>
<td <%= highlight(:manufacturer_name, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.manufacturer_name %>
</td>
<td <%= highlight(:calculate_country, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_country %>
</td>
</tr>
<tr class="info">
<td colspan="5">
Gpc code
</td>
</tr>
<tr class="val">
<td colspan="5" <%= highlight(:calculate_gpc, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_gpc %>
</td>
</tr>
<tr class="info">
<td>
Vat
</td>
<td>
Shelf life period
</td>
</tr>
<tr class="val">
<td <%= highlight(:calculate_vat, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_vat %>
</td>
<td <%= highlight(:minimum_durability_from_arrival, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.minimum_durability_from_arrival %>
</td>
</tr>
</table>
