        <table class="edited" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr class="th">
            <td><%= t 'item.gtin' %></td>
            <td colspan="4"><%= t 'item.internal_item_id' %></td>
          </tr>
          <tr>
            <td class="w183" ><%= @base_item.gtin %></td>
            <td colspan="4"><%=@base_item.internal_item_id%></td>
          </tr>
          <tr class="th">
            <td><%= t 'item.brand' %> (70)</td>
            <td><%= t 'item.subbrand' %> (70)</td>
            <td><%= t 'item.functional' %> (35)</td>
            <td><%= t 'item.variant' %> (35)</td>
            <td><%= t 'item.content' %></td>
          </tr>
          <tr>
            <td><%= @base_item.brand %></td>
            <td class="w172"><%= @base_item.subbrand %></td>
            <td class="w132"><%= @base_item.functional %></td>
            <td class="w132"><%= t 'item.missing' %></td>
            <td width="90">
              <%= @base_item.calculate_content %>
            </td>
          </tr>
          <tr class="th">
            <td colspan="5"><%= t 'item.description' %> (178)</td>
          </tr>
          <tr>
            <td colspan="5"><%= @base_item.item_description %></td>
          </tr>
          <tr class="th">
            <td><%= t 'item.manufacturer_gln' %> GLN</td>
            <td><%= t 'item.manufacturer_name' %></td>
            <td colspan="3"><%= t 'item.country_of_origin' %></td>
          </tr>
          <tr>
            <td><%= @base_item.manufacturer_gln %></td>
            <td><%= @base_item.manufacturer_name %></td>
            <td colspan="3"><%= @base_item.calculate_country %></td>
          </tr>
          <tr class="th">
            <td colspan="5"><%= t 'item.gpc_code' %></td>
          </tr>
          <tr>
            <td colspan="5">
                <%= @base_item.calculate_gpc %>
            </td>
          </tr>
          <tr class="th">
            <td><%= t 'item.vat' %></td>
            <td colspan="4"><%= t 'item.shelf_life_period' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= @base_item.calculate_vat %>
            </td>
            <td colspan="4"><%= @base_item.minimum_durability_from_arrival %></td>
          </tr>
        </table>
<!--
<table style="background: #FFF">
<tr class="info">
<td>
<%= t 'item.gtin' %>
</td>
<td>
<%= t 'item.internal_item_id' %>
</td>
</tr>
<tr class="val">
<td <%= highlight(:gtin, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.gtin %>
</td>
<td <%= highlight(:internal_item_id, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.internal_item_id%>
</td>
</tr>
<tr class="info">
<td>
<%= t 'item.brand' %>
</td>
<td>
<%= t 'item.subbrand' %>
</td>
<td>
<%= t 'item.functional' %>
</td>
<td colspan="2">
<%= t 'item.content' %>
</td>
</tr>
<tr class="val">
<td <%= highlight(:brand, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.brand %>
</td>
<td <%= highlight(:subbrand, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.subbrand %>
</td>
<td <%= highlight(:functional, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.functional %>
</td>
<td <%= highlight(:content, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.content%>
</td>
<td <%= highlight(:calculate_content, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_content %>
</td>
</tr>
<tr class="info">
<td colspan="4">
<%= t 'item.description' %>
</td>
</tr>
<tr class="val">
<td colspan="4" <%= highlight(:item_description, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.item_description %>
</td>
</tr>
<tr class="info">
<td>
<%= t 'item.manufacturer_gln' %>
</td>
<td>
<%= t 'item.manufacturer_name' %>
</td>
<td>
<%= t 'item.country_of_origin' %>
</td>
</tr>
<tr class="val">
<td <%= highlight(:manufacturer_gln, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.manufacturer_gln %>
</td>
<td <%= highlight(:manufacturer_name, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%=@base_item.manufacturer_name %>
</td>
<td <%= highlight(:calculate_country, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_country %>
</td>
</tr>
<tr class="info">
<td colspan="5">
<%= t 'item.gpc_code' %>
</td>
</tr>
<tr class="val">
<td colspan="5" <%= highlight(:calculate_gpc, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_gpc %>
</td>
</tr>
<tr class="info">
<td>
<%= t 'item.vat' %>
</td>
<td>
<%= t 'item.shelf_life_period' %>
</td>
</tr>
<tr class="val">
<td <%= highlight(:calculate_vat, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.calculate_vat %>
</td>
<td <%= highlight(:minimum_durability_from_arrival, @base_item, @accepted_base_item) if @accepted_base_item -%>>
<%= @base_item.minimum_durability_from_arrival %>
</td>
</tr>
</table>
_-->

