<div class="clear"></div>
<h2><%= t 'item.base' %></h2>
<div class="item-description" id="step1">
  <%= form_for @base_item, :remote => true do |f| %>
    <%= f.error_messages %>
      <%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } %>
      <p>
        <%= f.submit t('main.apply'), :class=> "submit-btn" %>
        <%= f.submit t('main.back'), :class => "submit-btn", :name => "back_button", :style=>'color:white' unless @base_item.first_step? %>
         <%= link_to t('main.cancel'), @base_item, {:method => :get, :remote => true } %>
      </p>
  <% end %>
</div>
