<%= form_for @base_item, :remote => true do |f| %>
<input type="hidden" name="step" value="2"/>
<%= f.error_messages %>
<h3><%= @base_item.gtin %></h3>
<p>
	<div id="cases_input_0">
		<div class="drop-down-cont pad-l-5 zi-5">
	  	<%= f.text_field :packaging_type, :style=>"border: 0;", :title =>"Packaging Type",:class=>'dd-input' %>
	  	<div class="drop-down pic">
	  		<div class="blue-tarr"></div>
	  		<div class="drop-down-list-cont" style ="width:400px;">
	  			<div id="cases_results_0" style="width:100%;" class="drop-down-list first pt-cases">
	  			</div>
	  			<div class="pic-cont" style="height:100%;">

	  			</div>
	  		</div>
	  		<div class="remark">
	  			Пояснения к полю<br /><br /><br />
	  		</div>
	  		<a class="choose-btn pt-choose-btn" href="#"></a>
	  	</div>
	  </div>
	</div>
</p>
</div>

<div class="dd-overlay"></div>
<script type="text/javascript">
	$j('.dd-input').focus(function(e){
	  $j('.remark').html("");
  	$j.ajax({data:'packagin_item_id=0&hide_px=true', dataType:'script', type:'post', url:'/main/cases'});
		$j('.drop-down').css('visibility','hidden');
		$j('.dd-overlay').css('display','block');
		$j(this).parent().find('.drop-down').css('visibility','visible');
	});
	$j('.choose-btn').click(function(){
		$j('.drop-down').css('visibility','hidden');
		$j('.dd-overlay').css('display', 'none');
		return false;
	})
 	$j('.dd-overlay').click(function(){
  		$j('.drop-down').css('visibility','hidden');
  		$j('.dd-overlay').css('display', 'none');
	});
	$j(".pt-choose-btn").click(function(){
    $j('.pt-cases ul li a').each( function(){
      if ($j(this).parent().hasClass('selected')){
        $j('#base_item_packaging_type').val($j(this).html());
     	 	$j('.drop-down').css('visibility','hidden');
    	 	$j('.dd-overlay').css('display', 'none');
       	return false;
      }
    });
  });
/*
$j('#base_item_packaging_type').click(function(){
	var offset = $j('#cases_input_0').offset();
	offset.left +=30;
	offset.top -=65;

	$j('#cases_0').show();
	$j('#cases_0').css({
	  left: offset.left+"px",
	  top: offset.top+"px"
	});
	return false;
})
$j("#cases_close_0").click(function(){
  $j("#cases_0").hide();
  $j('#hidden_div').hide();
	return false;
})
$j("#cases_select_0").click(function(){
	var li = $j("li.ac_liselected", ".cases_results")[0];
	$j("#cases_input_0 input").val($j(li).attr("id"));
	$j("#cases_0").hide();
  $j('#hidden_div').hide();
  return false;
})
*/
</script>
<p>
<%=f.text_field :height, :style => 'width: 25px; border: 0;' %><span class='t'>x</span><%=f.text_field :width, :style => 'width: 25px;border:0' %><span class='t'>x</span><%=f.text_field :depth, :style => 'width: 25px;border:0' %> <span class='t'>(В x Д x Ш)</span>
</p>
<p>
<%=f.text_field :gross_weight, :style=> "width: 25px;border: 0;"%> <span class='t'>г. брутто,</span> <%=f.text_field :net_weight, :style=>"width: 25px; border: 0;" %> <span class='t'>г. нетто</span>
</p>
<div class="fleft"><%= f.submit "Обновить", :style=>"width: auto;"%></div>
    <div class="fright min" style="margin-right: 25px;">
    <%= button_to 'Отмена','javascript:void(0)', :onclick => "cancelEditButton('#{base_item_path(@base_item, :step => 2)}');return false;"  %></div>
<% end %>

