<div class="clear"></div>
<h2>Основные данные</h2>
<div style="min-width: 1000px"/>
<% remote_form_for(@base_item) do |f| %>
<%= f.error_messages %>
<div style="min-width: 150px; float: left;">
image
</div>
<div style="min-width: 600px; float: left">
<%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } %>
<p>
<%#=check_box_tag :publish%>
<%#=label_tag :publish, "Publish record ?"%>
</p>

<p>
<%= f.submit "Next" %>
</p>
<p><%= f.submit "Back", :name => "back_button" unless @base_item.first_step? %></p>
</div>
<% end %>
</div>
<div class="clear"></div>

<%= link_to_remote 'отмена', :url => @base_item, :method => :get %>
