= form_for @base_item,  :html=>{:class=> 'jNice',:style=>'width:132px;margin:0px;padding:0px;'},:remote => true do |f|
  .bt
  .pi
    = f.error_messages
    = pi_image_tag @base_item, :class=> 'i-img', :id => "bi-id-#{@base_item.id}", :width=> '64', :height => '64'
    .logistics-item-in-1-top
      1
    = hidden_field_tag 'step', :value=>2
    #cases_input_0{:style => "margin:0;padding:0;"}
      .drop-down-cont.zi-5.fleft
        = f.hidden_field :packaging_name, :style=>"border: 0;", :title =>"Packaging Type",:class=>'dd-input'
        = link_to "#{@base_item.packaging_name.present? ? @base_item.packaging_name : t('pi.select')}", '#',
          :id => packaging_item_packaging_name_link, :class => 'drop-down-link item-qnt'
        .drop-down.pic
          .blue-tarr
          .drop-down-list-cont{:style => "width:400px;"}
            #cases_results_0.drop-down-list.first.pt-cases{:style => "width:100%"}
            .pic-cont{:style => "height:100%;"}
          .remark
            = t 'main.annotations'
            %br/
            %br/
            %br/
          = link_to I18n.t('main.apply'), "javascript:void(0)", :class => 'submit-btn2 pt-choose-btn'
    %table.input-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %td.gnt{:colspan => "2", :width => "1px"}
            = f.text_field :gtin, :class=>'w110', :title=> t('item.gtin')
        %tr
          %td
            = t('pi.height')
            \:
          %td
            = f.text_field :height, :class => 'w44'
            = t('uom.mm')
        %tr
          %td
            = t('pi.width')
            \:
          %td
            = f.text_field :width, :class => 'w44'
            = t('uom.mm')
        %tr
          %td
            = t('pi.depth')
            \:
          %td
            = f.text_field :depth, :class => 'w44'
            = t('uom.mm')
        %tr
          %td  
          %td  
        %tr
          %td{:width => "50px"}
            = t('pi.gross_weight')+":"
          %td
            = f.text_field :gross_weight, :class=>"w44"
            = t('uom.grm')
        %tr
          %td
            = t('pi.net_weight')+":"
          %td
            = f.text_field :net_weight, :class=>"w44"
            = t('uom.grm')
    %table.rb-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %td
            %span.jNiceWrapper
              %input#cbconsumer.jNiceHidden{:name => "rb1", :style => "opacity: 0; ", :type => "checkbox"}
          %td{:width => "44"}
            %label{:for => "cb\r\nonsumer"}
              %img{:alt => "", :height => "23", :src => "/images/newdesign/icon-consumer-unit-3.jpg"}/
              -#= image_tag "newdesign/icon-consumer-unit-3.jpg", :alt => "", :height => "23"
          %td
            %span.jNiceWrapper
              %input#cbdelivery.jNiceHidden{:name => "rb1", :style => "opacity: 0; ", :type => "checkbox"}
          %td{:width => "44"}
            %label{:for => "cbdelivery"}
              %img{:alt => "", :height => "23", :src => "/images/newdesign/icon-delivery-unit-2.jpg"}/
              -#= image_tag "newdesign/icon-delivery-unit-2.jpg", :alt => "", :height => "23"
  %div{:align => "center"}
    = link_to content_tag(:span, t('main.cancel')),'javascript:void(0)',:class=>'fright cancel-btn', :onclick => "cancelEditButton('#{base_item_path(@base_item, :step => 2)}');return false;"
    = f.submit t('main.update'), :class=>'submit-btn accept-btn'

.dd-overlay
:javascript
  $('.drop-down-link').click(function(e){
    $('.remark').html("");
    $.ajax({data:'packagin_item_id=0&hide_px=true', dataType:'script', type:'post', url:'/main/cases'});
    $('.drop-down').css('visibility','hidden');
    $('.dd-overlay').css('display','block');
    $(this).parent().find('.drop-down').css('visibility','visible');
    return false;  });
  $('.choose-btn').click(function(){
    $('.drop-down').css('visibility','hidden');
    $('.dd-overlay').css('display', 'none');
    return false;
  })
  $('.dd-overlay').click(function(){
      $('.drop-down').css('visibility','hidden');
      $('.dd-overlay').css('display', 'none');
  });
  $(".pt-choose-btn").click(function(){
    var btn = $(this);
    $(this).parent().find('.pt-cases ul li a').each( function(){
      if ($(this).parent().hasClass('selected')){
        $('#base_item_packaging_name').val($(this).html());
        $('#packaging_item_packaging_name_link').html($(this).html());
        $("#bi-id-#{@base_item.id}").attr('src', $(btn).parent().find('.pic-cont img').attr('src'));

          $('.drop-down').css('visibility','hidden');
         $('.dd-overlay').css('display', 'none');
         return false;
      }
    });
  });

