<%= f.error_messages %>

<p>
  <%= f.label :gtin %><br />
  <%= f.text_field :gtin %>
</p>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
internal item id<br />
<%=f.text_field :internal_item_id%>
</p>

<p>
item name long ru<br />
<%=f.text_field :item_name_long_ru%>
</p>

<p>
item name long en<br />
<%=f.text_field :item_name_long_en%>
</p>

<p>
  <%= f.check_box :despatch_unit %>
  <%= f.label :despatch_unit %>
</p>

<p>
  <%= f.check_box :invoice_unit %>
  <%= f.label :invoice_unit %>
</p>

<p>
  <%= f.check_box :order_unit %>
  <%= f.label :order_unit %>
</p>

<p>
  <%= f.check_box :consumer_unit %>
  <%= f.label :consumer_unit %>
</p>

<p>
manufacturer name<br />
<%=f.text_field :manufacturer_name%>
</p>

<p>
manufacturer gln<br />
<%=f.text_field :manufacturer_gln%>
</p>

<p>
content<br />
<%=f.text_field :content%>
</p>

<p>
  <%= f.label :content_uom %>
  <%= f.select :content_uom, @base_item.content_uoms %>
</p>

<p>
gross weight<br />
<%=f.text_field :gross_weight%>
</p>

<p>
  <%= f.label :vat%>
  <%= f.select :vat, @base_item.vats %>
</p>

<p>
plu description<br />
<%=f.text_field :plu_description%>
</p>

<p>
  <%= f.label :gpc_name %>
  <%= text_field_with_auto_complete :base_item, :gpc_name %>
</p>

<p>
  <%= f.label :country_of_origin_code %>
  <%= f.select :country_of_origin_code, @base_item.countries %>
</p>

<p>
minimum durability from arrival<br />
<%=f.text_field :minimum_durability_from_arrival%>
</p>

<p>
  <%= f.label :packaging_type %>
  <%= f.select :packaging_type, @base_item.packaging_types %>
</p>

<p>
height<br />
<%=f.text_field :height%>
</p>

<p>
depth<br />
<%=f.text_field :depth%>
</p>

<p>
width<br />
<%=f.text_field :width%>
</p>
