<div class="top-box-img bb">
<a id="iil" href="<% if @base_item.id %><%= @base_item.item.image_url('big') %><% else %>/images/item_image.jpg<% end %>" title=""><img id="item_image" src="<% if @base_item.id %><%= @base_item.item.image_url %><% else %>/images/item_image.jpg<% end %>" alt="Item Image"/>
<% unless @view_only %>
<% if @base_item.id %>
<div id="upload">
  <a id="link_upload" href="#" onclick="$j('#link_upload').hide(); $j('#form_upload').show(); return false;"><%= t 'image.change' %></a>
  <form id="form_upload" target="frame" action="/images/upload" enctype="multipart/form-data" method="POST" style="display:none;">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" name="item_id" value="<%= @base_item.item.id %>"/>
    <input type="hidden" name="base_item_id" value="<%= @base_item.id %>"/>
    <input type="file" name="image" size="10"/>
    <input type="submit" value="<%= t 'image.upload' %>" class="button"/>
    <input type="button" value="<%= t 'main.cancel' %>" onclick="$j('#link_upload').show(); $j('#form_upload').hide(); return false;" class="button"/>
  </form>
  <iframe id='frame' name="frame" style="display:none;"></iframe>
</div>
<% end %>
<% end %>
</div>

