<div class="top-box-img bb">
<% if  @base_item.id and @base_item.image_url('big').any? %>
  <%= link_to image_tag(@base_item.image_url('tile'), :alt => "Item Image", :id => 'item_image'), @base_item.image_url('big'), :id => 'iil', :title => ""%>
<%else%>
  <%= image_tag("item_image.jpg", :size => '163x163', :alt => 'Item Image', :id => 'item_image') %>
<%end%>
<% unless @view_only %>
  <% if @base_item.id %>
    <div id="upload">
      <%= link_to I18n.t('image.change'), '#', :id => 'link_upload' %>
      <form id="form_upload" target="frame" action="/images/upload" enctype="multipart/form-data" method="POST" style="display:none;">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        <input type="hidden" name="item_id" value="<%= @base_item.item_id %>"/>
        <input type="hidden" name="base_item_id" value="<%= @base_item.id %>"/>
        <input type="file" id="image_file_field" name="image" size="5"/>
        <input type="submit" id="image_submit" value="<%= t 'image.upload' %>" class="submit-btn"/>
        <input type="button" value="<%= t 'main.cancel' %>" onclick="$('#link_upload').show(); $('#form_upload').hide(); return false;" class="submit-btn"/>
      </form>
      <iframe id='frame' name="frame" style="display:none;"></iframe>
    </div>
  <% end %>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('a#link_upload').click(function(event){
      $('#link_upload').hide();
      $('#form_upload').show();
      event.preventDefault();
      return false;
    });
  })
</script>
