<!--filters-->
<div id='left-side'>
  <div class="top-box">
  </div>
  <%= link_to t('item.add_item'), new_base_item_path, :class=>"add-product",:id=>'new_base_item_link' if current_user.supplier? %>
  <%= render '/nav' %>
  <% if can? :index, Receiver  and @receivers %>
      <div class='cat'>
        <ul>
          <li><a href='#'><%= t 'main.receivers' %></a>
          <ul>
            <% @receivers.each do |r| %>
                <%= selected_wrapper "<a href='?receiver=#{r.id}' >#{r.name} (#{r.q})</a>", params[:receiver].to_s == r.id.to_s %>
            <% end %>
          </ul>
          </li>
      </div>
  <% end %>
  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'main.tags' %></a>
      <ul>
        <% @clouds.each do |c| %>
            <%= selected_wrapper "<a href='?tag=#{c.tag.id}' >#{c.tag.name} (#{c[:q]}#{c.q})</a>", params[:tag].to_s == c.tag_id.to_s %>
        <% end %>
      </ul>
      </li>
  </div>
  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'main.brands' %></a>
      <ul>
        <% @brands.each do |b| %>
            <%= selected_wrapper "<a href='?brand=#{CGI::escape b.brand}'>#{shorten_label b.brand, 15 } (#{b.q})</a>", params[:brand].to_s == b.brand.to_s %>
        <% end %>
      </ul>
      </li>
  </div>

  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'main.manufacturers' %></a>
      <ul>
        <% @manufacturers.each do |m| %>
            <%= selected_wrapper "<a href='?manufacturer_name=#{CGI::escape m.manufacturer_name}' >#{shorten_label m.manufacturer_name, 15} (#{m.q})</a>", params[:manufacturer_name].to_s == m.manufacturer_name.to_s %>
        <% end %>
      </ul>
      </li>
  </div>

  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'main.functional' %></a>
      <ul>
        <% @functionals.each do |f| %>
            <%= selected_wrapper "<a href='?functional=#{CGI::escape f.functional}' >#{shorten_label f.functional, 15} (#{f.q})</a>", params[:functional].to_s == f.functional.to_s %>
        <% end %>
      </ul>
      </li>
  </div>
</div>
<!--/filters-->
<!--data-->
<div id="middle-side">
  <div class="wrap" >


     <% if @supplier %>
      <div class="address"><a href="/profiles/<%= @supplier.id %>"><%= @supplier.gln %> <%= @supplier.name %></a></div>
      <%else%>
    <div class="address"><a href="#"><%= t 'main.base_items' %></a></div>
     <% end %>
    <% id = "goods-list-short" if (params[:view].nil? or params[:view]=='list')
       id ||="goods-list-as-picture" if params[:view]=='tile'
       id ||="goods-list-detailed" if params[:view]=='detailed'
     %>
    <div id="<%= id %>">
      <div class="sort-btn">
        <%= link_to t('item.export_to_xls'), 'javascript:void(0)', :class=>'export', :id => 'show_export_form' if @base_items.any? and params[:view]!='tile' %>
        <%= link_to_if (params[:view]!='list' and params[:view].present?), t('main.short'), url_for(params.merge :view => 'list'), :class=>'kr' %> |
        <%= link_to_if params[:view]!='tile', t('main.tile'), url_for(params.merge(:view => 'tile')) %> |
        <%= link_to_if params[:view]!='detailed', t('main.detailed'), url_for(params.merge(:view => 'detailed')) %>
        <div class="clr"></div>
      </div>
      <%= form_for BaseItem.new, :html => {:id => 'base_items_form'} do |f| %>
      <% if params[:view].nil? or params[:view]=='list' %>
          <div class="short-wrap">

                <% @base_items.each do |base_item| %>
                    <% path_params = defined?(retailer) ? {:id => base_item.id, :view => true} : base_item %>
                    <div class="item">
                    <%= render :partial => '/base_items/popup',:locals=>{:base_item => base_item} %>
                      <div class="img">
                        <img src="<%= base_item.item.image_url('small') %>" width="50px" alt="Item Image"/></div>
                      <div class="desc">
                        <div style="float:right">
                          <%= check_box_tag "base_items[]", base_item.id, checked = false, :id => "bi-checkbox-#{base_item}", :class => 'base_item_checkbox' %>
                        </div>
                        <p>
                          <%= link_to base_item.gtin,base_item_path(path_params),:class=>'art'  %> <%= shorten_label base_item.item_description, 100 %>
                          <% if base_item.private %>
                              <span class="adres"><%= t 'item.private' %></span>
                          <% end %>
                        </p>
                      
                        <p class="adres">
                          <div class='fleft'>                         
                        <%= t 'menu.status' %>: <%= base_item.item.status %>, <%= base_item.created_at.to_s(:short) %>
                        </div>
                          <div class="tags-wrapper">
                          <% base_item.item.clouds.where(:user_id=> current_user.id).each do |cloud| %>
                            <%= link_to content_tag(:span, cloud.tag.name), '#', :class=>'btn' %>
                          <%end%>
                          </div> 
                        </p>                        
                      </div>
                      <div class="stat"><span class="stat-3"></span></div>
                      <div class="clr"></div>
                    </div>
                <% end %>

          </div>
      <% else %>
        <% if params[:view]=='detailed'%>
           <div class="detailed-wrap" >
                <% @base_items.each do |base_item| %>
                    <% path_params = defined?(retailer) ? {:id => base_item.id, :view => true} : base_item %>
                    <div class="item">
                    <%= render :partial => '/base_items/popup',:locals=>{:base_item => base_item} %>
                        <div class="top">
                            <div class="bottom">
                              <div style="float:right">
                                <%= check_box_tag "base_items[]", base_item.id, checked = false, :id => "bi-checkbox-#{base_item}", :class => 'base_item_checkbox' %>
                              </div>
                            <div class="img"><img src="<%= base_item.item.image_url('tile')  %>" alt="" /></div>
                            <div class="desc">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <th class="one"><%= t 'item.description' %></th>
                                        <th><%= t 'item.internal_item_id' %></th>
                                    </tr>
                                    <tr>
                                      <td>
                                        <p><%= base_item.item_description %></p>
                                        <p><%= link_to base_item.gtin,base_item_path(path_params),:class=>'art'  %></p>
                                      </td>
                                      <td><%= base_item.item_id %></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                             <p class="btns">
                                             <% base_item.item.clouds.find(:all, :conditions =>{:user_id => current_user.id, :item_id => base_item.item.id}).each do |c| %>
                                                <a class="btn" href='?tag=#{c.tag.id}' ><span><%= c.tag.name%></span></a>
                                             <%end%>
                                             </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="clr"></div>
                            <div class="det">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr class="th">
                                    <td><%= t 'item.brand' %></td>
                                    <td><%= t 'item.subbrand' %></td>
                                    <td><%= t 'item.functional' %></td>
                                    <td><%= t 'item.variant' %></td>
                                    <td><%= t 'item.content' %></td>
                                  </tr>
                                  <tr>
                                    <td><%= base_item.brand %></td>
                                    <td><%= base_item.subbrand %></td>
                                    <td><%= base_item.functional %></td>
                                    <td><%= base_item.variant %></td>
                                    <td><%= base_item.content %> <%= base_item.content_uom %></td>
                                  </tr>
                                  <tr class="th">
                                    <td colspan="2"><%= t 'item.manufacturer_gln' %></td>
                                    <td><%= t 'item.manufacturer_name' %> name</td>
                                    <td><%= t 'item.country_of_origin' %></td>
                                  </tr>
                                  <tr>
                                    <td colspan="2"><%= base_item.manufacturer_gln %></td>
                                    <td><%= base_item.manufacturer_name %></td>
                                    <td><%= base_item.country %></td>
                                  </tr>
                                  <tr class="th">
                                    <td colspan="4"><%= t 'item.gpc_code' %></td>
                                  </tr>
                                  <tr>
                                    <td colspan="4"><%= base_item.gpc_code %> : <%= base_item.gpc_name %></td>
                                  </tr>
                                  <tr class="th">
                                    <td><%= t 'item.vat' %></td>
                                    <td colspan="3"><%= t('item.shelf_life_period') %></td>
                                  </tr>
                                  <tr>
                                    <td><%= base_item.vat %></td>
                                    <td colspan="3"><%= base_item.minimum_durability_from_arrival %></td>
                                  </tr>
                                </table>
                            </div>
                            <div class="pablic"><%= t('main.publish') +': '+ base_item.updated_at.strftime("%d/%m/%Y") %></div>
                            </div>
                        </div>
                        </div>
                   <%end%>

           </div>
        <%else%>
          <div id="as-wrap">
                <% @base_items.each do |base_item| %>
                    <% path_params = defined?(retailer) ? {:id => base_item.id, :view => true} : base_item %>
                    <div class="item">
                    <%= render :partial => '/base_items/popup',:locals=>{:base_item => base_item} %>
                      <div class="img type2"><img src="<%= base_item.item.image_url('tile') %>"  alt="Item Image"/></div>
                      <div class="desc">
                        <p><%= shorten_label base_item.item_description, 27 %></p>

                        <p><%= link_to base_item.gtin,base_item_path(path_params),:class=>'art'  %> </p>
                       <!-- <% if base_item.private %>
                            <span class="adres"><%= t 'item.private' %></span>
                        <% end %>-->
                        <!--                    <a class="btn" href="#"><span>Новинка</span></a>-->
                      </div>
                      <div class="stat"><span class="stat-3"></span></div>
                      <div class="clr"></div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
      <%end%>
      <div class="page" >
        <%= html_pager @base_items %>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <br/>

    </div>
  </div>
</div>

<div id="export_form_wrapper" style="display:none">
  <%= form_for BaseItem.new, :url => export_base_items_path, :html=> {:id => 'base_item_export_form', :method => "POST"} do |f| %>
      <div id="export_form_fields"></div>
      <input type='hidden' name='base_items' id='base_items_ids'/>
      <%= submit_tag t('main.export'), :class => "button fright", :id =>'export_button', :disabled => true %>
  <% end %>
</div>
<div class="pp-overlay"></div>

<script>
    $j('.art').click(function(ev){
      ev.stopPropagation();
    });
    var any_base_item_checked = false;
    $j('.base_item_checkbox').each(function() {
        any_base_item_checked = any_base_item_checked || $j(this).is(':checked');
    });

    $j('.base_item_checkbox').change(function() {
        var tmp = false;
        $j('.base_item_checkbox').each(function() {
            tmp = tmp || $j(this).is(':checked');
        });
        any_base_item_checked = tmp;
    });

    $j('.base_item_checkbox').click(function(event) {
        event.stopPropagation();
    })

    $j("#show_export_form").click(function() {
        if (any_base_item_checked) {
            // preload template names and show dialog window
            $j("#export_form_fields").load("/main/export_form", function() {
                var container = $j('#export_form_wrapper');
                container.dialog({
                    modal: true,
                    title: "Получить данные в формах ритейлеров",
                    width: 400
                })
                        .find("form").submit(function() {
                    container.dialog("close");
                });

                // validate if any export form is choosen
                $j('.xls_templates').change(function() {
                    tmp = false;
                    $j('.xls_templates').each(function() {
                        tmp = tmp || $j(this).is(':checked');
                    });
                    if (tmp)
                        $j('#export_button').attr('disabled', false);
                    else
                        $j('#export_button').attr('disabled', true);
                });
                //collect base_item ids which were checked for export
                $j('#export_button').click(function() {
                    var inputs = $j('#base_items_form :input');
                    var values = {'base_items[]': ''};
                    inputs.each(function() {
                        if ($j(this).attr('checked') == 'checked')
                            values[this.name] += $j(this).val() + ',';
                    });
                    $j('#base_items_ids').val(values['base_items[]'])
                });
            });
        } else {
            if ('<%= Rails.env%>' != 'cucumber')
                alert('Сначала отметьте хотя бы один товар.');
        }
        ;
    });
</script>
<!--/data-->

