<div class="fright">
<form method="GET" action="" id="search-form">
<input id="search-form-input" type="text" name="search" value="<% if params[:search].to_s == '' %><%= t 'main.search' %><% else %><%=h params[:search] %><% end %>"/>
<a href="?"><div id="search-clear" class="<% if params[:search].to_s != '' %>search-clear-active<% else %>search-clear-inactive<% end %>"></div></a>
</form>
<div style="clear:both; text-align:center;"><%= html_pager @base_items %></div>
</div>
<br/>
<h2>Listing <%= defined?(retailer) ? 'retailer' : 'base' -%> items</h2>
<!--filters-->
<div class="filters">
<% if current_user.supplier? %>
<div>
<strong><%= t 'main.receivers' %></strong>
<% @receivers.each do |r| %>
  <%= selected_wrapper "<a href='?receiver=#{r.id}' class='filter'>#{r.name}</a> (#{r.q})", params[:receiver].to_s == r.id.to_s %>
<% end %>
</div>
<br/>
<% end %>
<div>
<strong><%= t 'main.tags' %></strong>
<% @clouds.each do |c| %>
    <%= selected_wrapper "<a href='?tag=#{c.tag.id}' class='filter'>#{c.tag.name}</a> (#{c.q})", params[:tag].to_s == c.tag_id.to_s %>
<% end %>
</div>
<br/>
<div>
<strong><%= t 'main.brands' %></strong>
<% @brands.each do |b| %>
  <%= selected_wrapper "<a href='?brand=#{CGI::escapeHTML b.brand}' class='filter'>#{b.brand}</a> (#{b.q})", params[:brand].to_s == b.brand.to_s %>
<% end %>
</div>
<br/>
<div>
<strong><%= t 'main.manufacturers' %></strong>
<% @manufacturers.each do |m| %>
  <%= selected_wrapper "<a href='?manufacturer_name=#{CGI::escapeHTML m.manufacturer_name}' class='filter'>#{m.manufacturer_name}</a> (#{m.q})", params[:manufacturer_name].to_s == m.manufacturer_name.to_s %>
<% end %>
</div>
<br/>
<div>
<strong><%= t 'main.functional' %></strong>
<% @functionals.each do |f| %>
  <%= selected_wrapper "<a href='?functional=#{CGI::escapeHTML f.functional}' class='filter'>#{f.functional}</a> (#{f.q})", params[:functional].to_s == f.functional.to_s %>
<% end %>
</div>

</div>
<!--/filters-->
<!--data-->
<div class="data">
<% @base_items.each do |base_item| %>
	<% path_params = defined?(retailer) ? {:id => base_item.id, :view => true} : base_item %>
  <div class="bi <%= "private" if base_item.private %>" onclick="document.location='<%= base_item_path(path_params) %>'">
    <div class="bi-image"><img src="<%= base_item.item.image_url('small') %>" width="50px" alt="Item Image"/></div>
    <div class="bi-content">
      <div><span class="normal"><%= base_item.gtin %></span> <span class="light"><%= base_item.user.name %></span></div>
      <div class="usual"><%= base_item.item_description %></div>
      <div class="light"><%= base_item.item.clouds.find(:all, :conditions =>{:user_id => current_user.id, :item_id => base_item.item.id}).collect{|c| c.tag.name}.join(', ') %></div>
      <div class="light"><%= base_item.item.status %>, <%= base_item.created_at.to_s(:short) %></div>
    </div>
  </div>
<% end %>

<%= link_to 'New base_item', new_base_item_path if current_user.supplier?%>
</div>
<!--/data-->
