<div class="gtin">
	<%= h @base_item.gtin %>
</div>
<div class="item_name">
  <%= h @base_item.name %>
</div>
<div><b>Internal item id:</b>
  <%= h @base_item.internal_item_id %>
</div>
<p>
  <b>Item name long ru:</b>
  <%= h @base_item.item_name_long_ru %>
</p>
<p>
  <b>Item name long en:</b>
  <%= h @base_item.item_name_long_en %>
</p>

<span class="unit_status_<%= h @base_item.consumer_unit %>">C</span>
<span class="unit_status_<%= h @base_item.order_unit %>">O</span>
<span class="unit_status_<%= h @base_item.despatch_unit %>">D</span>
<span class="unit_status_<%= h @base_item.invoice_unit %>">I</span>

<p>
	<span class="label">Manufacturer </span>
	<%= h @base_item.manufacturer_gln %>
	<%= h @base_item.manufacturer_name %>
</p>
<p>
  <b>Content:</b>
  <%= h @base_item.content %>
  <%= @base_item.content_uoms.detect { |u| @base_item.content_uom == u[1] }[0] %>
</p>

<p>
	<span class="label">Вес брутто </span>
	<%= h @base_item.gross_weight %>g
</p>

<p>
  <b>Vat:</b>
  <%= @base_item.vats.detect { |u| @base_item.vat == u[1] }[0] %>
</p>

<p>
  <b>Plu description:</b>
  <%= h @base_item.plu_description %>
</p>

<p>
  <span class="label">GPC </span>
	<%= h @base_item.gpc_code %><br>  
	<%= h @base_item.gpc.name %>
</p>

<p>
  <b>Country of origin:</b>
  <%= h @base_item.country_of_origin.description %>
</p>

<p>
  <span class="label">Minimum durability from arrival </span>
  <%= h @base_item.minimum_durability_from_arrival %> days
</p>

<p>
  <%= @base_item.packaging_types.detect { |u| @base_item.packaging_type == u[1] }[0] %>
  <span class="label">H</span><%= h @base_item.height %> 
  <span class="label">D</span><%= h @base_item.depth %> 
  <span class="label">W</span><%= h @base_item.width %>
  <span class="label"> mm</span>
</p>

<p>
  <b>Status:</b>
  <%=@base_item.status %>
</p>

<%= link_to_remote 'править', :url => edit_base_item_path(@base_item), :method => :get %>
