      <div class="item-description" id="base_item">
        <div id="step1">
          <%= render :partial => "base" %>
        </div>
          <% if @base_item.published? && current_user.retailer? %>
            <div id="retailer_attributes">
              <%= render :partial => "/retailer_attributes/retailer_attribute", :locals => {:item => @base_item.item} %>
            </div>
          <% end %>


          <% unless @view_only || @base_item.published? %>
            <%= link_to t('item.edit'),  edit_base_item_path(@base_item), {:id => 'edit_base_item_link', :remote => true,:method => :get} %>
          <% end %>
          <div class="clr"></div>
          <br/>
      </div>




<div id="export_form_wrapper" style="display:none">
  <%= form_for @base_item, :url =>  export_base_item_path(@base_item),:html=> {:id => 'base_item_export_form', :method => "POST"} do |f|%>
    <div id="export_form_fields"></div>
    <%= f.submit t('main.export'), :class => "button fright",:id =>'export_one' ,  :disabled => true%>
  <%end%>
</div>
<script>

$(".show_export_form").click(function(){
    // preload template names and show dialog window
    $("#export_form_fields").load("/main/export_form",function(){
    var container = $('#export_form_wrapper');
    container.dialog({
        modal: true,
        title: "Получить данные в формах ритейлеров",
        width: 400
    })
    .find("form").submit(function() {
        container.dialog("close");

    });
    // validate if any export form is choosen
    $('.xls_templates').change(function(){
        tmp = false;
        $('.xls_templates').each(function(){ tmp = tmp || $(this).is(':checked'); });
        if(tmp)
          $('#export_one').attr('disabled',false);
        else
          $('#export_one').attr('disabled',true);
    });
  });
  return false;
});
</script>

