<div id="base_item">
<% unless @view_only || @base_item.draft? %>
  <div class="fright">
    <%= form_for @base_item, :url => url_for(:controller => "base_items", :action => 'draft', :id => @base_item.id) do |f| %>
    <%= f.submit "Правка", :class => "button" %>
  <% end %>
  </div>
<% end %>
<h2>Основные данные</h2>
<div id="step1">
<!--base-->
<%= render :partial => "base" %>
<!--/base-->
<% if @base_item.published? && current_user.retailer? %>
  <div id="retailer_attributes">
  <%= render :partial => "/retailer_attributes/retailer_attribute", :locals => {:item => @base_item.item} %>
  </div>
<% end %>
</div>
<% unless @view_only || @base_item.published? %>
  <%= link_to 'править',  edit_base_item_path(@base_item), {:id => 'edit_base_item_link', :remote => true,:method => :get} %>
<% end %>
</div>

