bt
- unless @base_item.draft?
  .pi.mini.edited
    = pi_image_tag @base_item, :class=> 'i-img', :width=> '64', :height => '64'
    %span.logistics-item-title
      %strong= '1'
      = h @base_item.calculate_packaging_type
    %br/
    %span.logistics-item-title-2
      %strong= '1'
      = h @base_item.calculate_packaging_type
    %table.input-table-edited{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "116"}
      %tr
        %td.art{:colspan => "2"}= h @base_item.gtin
.pi.edited{:class=> @base_item.draft? ? '' : 'full'}
  .edit-delete2
    = link_to '', edit_base_item_path(@base_item, :step => 2), {:method => :get, :remote => true} if @base_item.draft?
  = pi_image_tag @base_item, :class=> 'i-img', :width=> '64', :height => '64'
  %span.logistics-item-title
    %strong= '1'
    = h @base_item.calculate_packaging_type
  %br/
  %span.logistics-item-title-2
    %strong= '1'
    = h @base_item.calculate_packaging_type
  %table.input-table-edited{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "116"}
    %tr
      %td.art{:colspan => "2"}= h @base_item.gtin
    %tr
      %td
        = t('pi.height')
        \:
      %td
        = h @base_item.height
        = t('uom.mm')
    %tr
      %td
        = t('pi.width')
        \:
      %td
        = h @base_item.width
        = t('uom.mm')
    %tr
      %td
        = t('pi.depth')
        \:
      %td
        = h @base_item.depth
        = t('uom.mm')
    %tr
      %td
      %td
    %tr
      %td
        = t('pi.gross_weight')
        \:
      %td
        = h @base_item.gross_weight
        = t('uom.grm')
    %tr
      %td
        = t('pi.net_weight')
        \:
      %td
        = h @base_item.net_weight
        = t('uom.grm')
  =image_tag 'newdesign/icon-delivery-unit-2.jpg',:height=>23, :alt=>"",:class=> 'u-img'
= link_to content_tag(:span, t('pi.pack')) ,"javascript:void(0)", :class=> 'blue-btn pack-btn',:align=>'center',
            :onclick => "packageMe(this,#{@base_item.id});return false"

