<% if @view_only || @base_item.published? %>
<% i = 0%>
<% @base_item.item.base_items.find(:all, :conditions => {:status => "published"}, :order => 'created_at desc').reverse!.each do |v| %>
<% i=i+1 %>
<% if v.id == @base_item.id %><%= i %><% else %><a href="<%= v.id %>"><%= i %></a><% end %> |
<% end %>
<% end %>
<% unless @view_only || @base_item.draft? %>
  <% form_for @base_item, :url => url_for(:controller => "base_items", :action => 'draft', :id => @base_item.id) do |f| %>
    <%= f.submit "Правка" %>
  <% end %>
<% end %>
<h2>Основные данные</h2>
<div style="min-width: 150px; float: left;">
image
</div>
<div style="min-width: 600px; float: left">
<div id="step1">
<table>
<tr>
<td>
GTIN<br />
<%= @base_item.gtin %>
</td>

<td>
Internal item id<br />
<%=@base_item.internal_item_id%>
</td>
</tr>
<tr>
<td>
Brand<br />
<%= @base_item.brand %>
</td>
<td>
Subbrand<br />
<%= @base_item.subbrand %>
</td>
<td>
Functional<br />
<%= @base_item.functional %>
</td>
<td>
Content<br />
<%=@base_item.content%>
</td>
<td>
&nbsp;<br/>
<%= @base_item.content_uoms.detect { |u| @base_item.content_uom == u[1] }[0] %>
</td>
</tr>
<tr>
<td colspan="4">
Item_description<br />
<%= @base_item.item_description %>
</td>
</tr>
<tr>
<td>
manufacturer gln<br />
<%=@base_item.manufacturer_gln %>
</td>
<td>
manufacturer name<br />
<%=@base_item.manufacturer_name %>
</td>
<td>
Country of origin<br/>
<%= @base_item.country_of_origin.description %>
</td>
</tr>
<tr>
<td colspan="3">
Gpc code <br/>
<%= @base_item.gpc.code %> : <%= @base_item.gpc.name %>
</td>
</tr>
<tr>
<td>
Vat<br/>
<%= @base_item.vats.detect { |u| @base_item.vat == u[1] }[0] %>
</td>
<td>
Shelf life period<br />
<%= @base_item.minimum_durability_from_arrival %>
</td>
</tr>
</table>
</div>
<% unless @view_only || @base_item.published? %>
<%= link_to_remote 'править', :url => edit_base_item_path(@base_item), :method => :get %>
<% end %>
</div>
