<% unless @view_only %>
  <% if @base_item.private && @base_item.published? %>
    <h2><%= t 'item.privacy' %></h2>
    <%= t 'main.receivers'%>: <%= @base_item.receivers.collect {|r| r.user.name }.join(", ") %>
  <% end %>
<% end %>

<% if @base_item.draft? %>
  <h2><%= t 'item.privacy' %></h2>
  <input type="checkbox" class="checkbox" name="base_item[private]" <%= "checked='checked'" if @base_item.private %> onchange="$j('#base_item_private').val(this.checked);"/><%= t 'item.private' %><br/>
  <div id="receivers">
  <%= render :partial => "receivers/receivers", :locals => {:receivers => @base_item.receivers} %>
  </div>
<% end %>

<div class="who-can-see">
						<span class="block-title"><%= t 'privacy.who_can_see' %></span>

						<form class="jNice" action="">
							<table class="rb-privacy" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td width="18"><input type="radio" name="rb-wcs" id="rb-all" /></td>
									<td><label for="rb-all"><%= t 'privacy.all' %></label></td>
								</tr>
								<tr>
									<td><input type="radio" name="rb-wcs" id="rb-i" /></td>
									<td><label for="rb-i"><%= t 'privacy.just_i' %></label></td>
								</tr>
								<tr>
									<td>
										<input type="radio" name="rb-wcs" id="rb-companies" class="rb-companies" />
									</td>
									<td><label for="rb-companies"><%= t 'privacy.i_and_companies: ' %></label></td>
								</tr>
							</table>
 <script type="text/javascript">
	$j('.rb-privacy').click(function(){
		if($j('#rb-companies').siblings('.jNiceRadio').hasClass('jNiceChecked'))
		{
			$j('.companies').css('visibility','visible');
		}
		else
		{
			$j('.companies').css('visibility','hidden');
		}
	});
</script>
							<div class="companies">
								<div class="choosed-items">
									<span class="drop-down-link-choosed" href="#"><%= t 'privacy.selected' %></span>
									<a class="minus-btn" href="#"></a>
									<span class="drop-down-link-choosed" href="#"><%= t 'privacy.selected' %></span>
									<a class="minus-btn" href="#"></a>
								</div>
								<div class="drop-down-cont zi-2">

									<a class="drop-down-link companies-choise" href="#"><span class="drop-down-link-in"><%= t 'privacy.choose' %></span></a>

									<a class="plus-btn" href="#"></a>
									<a class="minus-btn" href="#"></a>
									<div class="drop-down">
										<div class="blue-tarr"></div>
										<div class="drop-down-list-cont">
											<div class="drop-down-list first">
												<ul>
													<li><%= link_to "t(privacy.gable_top)", "#"%></li>
													<li><%= link_to "t(privacy.brick)", "#"%></li>
													<li><%= link_to "t(privacy.case)", "#"%></li>
													<li><%= link_to "t(privacy.carton)", "#"%></li>
													<li><%= link_to "t(privacy.wrapper)", "#"%></li>
													<li><%= link_to "t(privacy.multi_pack)", "#"%></li>
													<li><%= link_to "t(privacy.pouch)", "#"%></li>
													<li><%= link_to "t(privacy.not_packed)", "#"%></li>
													<li><%= link_to "t(privacy.packed)", "#"%></li>
												</ul>
											</div>
										</div>
										<div class="remark">
											<%= t 'main.annotations' %><br /><br /><br />
										</div>
										<a class="choose-btn" href="#"></a>
									</div>
								</div>
							</div>
							<div class="clr"></div>
						</form>
					</div>

