<% unless @view_only %>
  <% if @base_item.private && @base_item.published? %>
    <h2><%= t 'item.privacy' %></h2>
    <%= t 'main.receivers'%>: <%= @base_item.receivers.collect {|r| r.user.name }.join(", ") %>
  <% end %>
<% end %>

<% if @base_item.draft? %>
  <h2><%= t 'item.privacy' %></h2>
  <input type="checkbox" class="checkbox" name="base_item[private]" <%= "checked='checked'" if @base_item.private %> onchange="$j('#base_item_private').val(this.checked);"/><%= t 'item.private' %><br/>
  <div id="receivers">
  <%= render :partial => "receivers/receivers", :locals => {:receivers => @base_item.receivers} %>
  </div>
<% end %>
