<div class="step2">
<h2>Логистика</h2>
<div class="pi" style="width:200px">
<h3><%= @base_item.gtin %></h3>
<p>
<%= f.select :packaging_type, @base_item.packaging_types %>
</p>
<p>
<%=f.text_field :height, :style => 'width: 25px; border: 0;' %>x<%=f.text_field :width, :style => 'width: 25px;border:0' %>x<%=f.text_field :depth, :style => 'width: 25px;border:0' %> (В x Д x Ш)
</p>
<p>
<%=f.text_field :gross_weight, :style=> "width: 25px;border: 0;"%> г. брутто, <%=f.text_field :net_weight, :style=>"width: 25px; border: 0;" %> г. нетто
</p>
</div>
</div>
