<script>
var is_description_touched = false;
var brand = "";
var subbrand = "";
var functional = "";
var content = "";
var content_uom ="";
</script>
<div id="step1">
<table>
<tr class="info">
<td>
GTIN
</td>
<td>
Internal item id
</td>
</tr>
<tr class="val">
<td>
  <%= f.text_field :gtin %>
</td>
<td>
<%=f.text_field :internal_item_id%>
</td>
</tr>
<tr class="info">
<td>
Brand
</td>
<td>
Subbrand
</td>
<td>
Functional
</td>
<td>
Content
</td>
<td>
Content uom
</td>
</tr>
<tr class="val">
<td>
<%= text_field_with_auto_complete :base_item, :brand, {}, :after_update_element => "function (e,v){ brand = v.innerHTML; $j(\"#base_item_brand\").change();}" %>
</td>
<td>
<%= text_field_with_auto_complete :base_item, :subbrand, :after_update_element => "function (e,v){ subbrand = v.innerHTML; $j(\"#base_item_subbrand\").change();}"  %>
</td>
<td>
<%= text_field_with_auto_complete :base_item, :functional, :after_update_element => "function (e,v){ functional = v.innerHTML; $j(\"#base_item_functional\").change();}"  %>
</td>
<td>
<%=f.text_field :content %>
</td>
<td>
  <%= f.select :content_uom, [nil] + @base_item.content_uoms %>
</td>
</tr>
<tr class="info">
<td colspan="4">
Item Description
</td>
</tr>
<tr class="val">
<td colspan="4">
<%= text_field_with_auto_complete :base_item, :item_description, :class => "w100" %>
</td>
</tr>
<tr class="info">
<td>
Manufacturer GLN
</td>
<td>
Manufacturer name
</td>
<td>
Country of origin
</td>
</tr>
<tr class="val">
<td>
	<style type="text/css">
	  div.manufacturer_auto_complete {
	    width: 500px !important;
	    background: #fff;
	  }
	  div.manufacturer_auto_complete ul {
	    border:1px solid #888;
	    margin:0;
	    padding:0;
	    width:100%;
	    list-style-type:none;
	  }
	  div.manufacturer_auto_complete ul li {
	    margin:0;
	    padding:3px;
	  }
	  div.manufacturer_auto_complete ul li.selected {
	    background-color: #ffb;
	  }
	  div.manufacturer_auto_complete ul strong.highlight {
	    color: #800; 
	    margin:0;
	    padding:0;
	  }
	</style>
	<%= f.text_field :manufacturer_gln, :autocomplete => "off" %>
	<div id = "base_item_manufacturer_gln_auto_complete" class = "manufacturer_auto_complete"></div>
	<%= auto_complete_field("base_item_manufacturer_gln", { :url => auto_complete_for_base_item_manufacturer_gln_base_items_path, :select => "value", :after_update_element => "function (e,v) {
		$('base_item_manufacturer_gln').value = v.getElementsByClassName('autocomplete_manufacturer_gln')[0].innerHTML;
	  $('base_item_manufacturer_name').value = v.getElementsByClassName('autocomplete_manufacturer_name')[0].innerHTML;
	}"}) -%>
</td>
<td>
	<%= f.text_field :manufacturer_name, :autocomplete => "off" %>
	<div id = "base_item_manufacturer_name_auto_complete" class = "manufacturer_auto_complete"></div>
	<%= auto_complete_field("base_item_manufacturer_name", { :url => auto_complete_for_base_item_manufacturer_name_base_items_path, :select => "value", :after_update_element => "function (e,v) {
		$('base_item_manufacturer_gln').value = v.getElementsByClassName('autocomplete_manufacturer_gln')[0].innerHTML;
	  $('base_item_manufacturer_name').value = v.getElementsByClassName('autocomplete_manufacturer_name')[0].innerHTML;
	}"}) -%>
</td>
<td>
	<div id="country_input">
		<%= f.text_field :country %>
	</div>
</td>
</tr>
<tr class="info">
<td colspan="3">
GPC Name
</td>
</tr>
<tr class="val">
<td colspan="3">
	<div id="classifier_input">
		<%= f.text_field :gpc_name, :class => "w100 classifier_input" %>
	</div>
</td>
</tr>
<tr class="info">
<td>
Vat
</td>
<td>
Shelf life period
</td>
</tr>
<tr class="val">
<td>
  <%= f.select :vat, @base_item.vats %>
</td>
<td>
<%=f.text_field :minimum_durability_from_arrival%>
</td>
</tr>
</table>

<input type="hidden" id="country_value">
<br>
<div id="countries" class="country_results countries" style="display:none;">
  <div class='corner'></div>
  <a href="#" id="countries_close" class="close"></a>
  <div id="countries_results" class="inline results_ul">
		<ul>
		  <%= render :partial => "main/country", :collection => Country.all(:order => 'description') %>
		</ul>
  </div>
  <div style="width:100%; position: relative; float: right;" class="inline">
    <hr>
    <a id="country_select" class="ok_button" href="#"></a>
  </div>
</div>

<input type="hidden" id="classifier_value">
<div id="classifier" class="gpc_results classifier" style="display:none">
  <div class='corner'></div>
  <a href="#" id="classifier_close" class="close"></a>
  <div id="groups" class="inline results_ul">
  </div>
  <div id="subgroups" class="inline results_ul">
  </div>
  <div id="categories" class="inline results_ul">
  </div>
  <div style="width:100%; position: relative; text-align: right;" class="inline">
    <hr>
    <a id="classifier_select" class="ok_button" href="#"></a>
  </div>
</div>
<script type="text/javascript">
	$j('#base_item_gpc_name').click(function(){
		$j('#classifier').show();
		$j.ajax({data:$j.param($j(this).serializeArray()), dataType:'script', type:'post', url:'/main/classifier'}); return false;
		return false;
	})
  $j("#classifier_close").click(function(){
    hideClassifierNow();
  })
  $j("#classifier_select").click(function(){
    selectClassifierItem();
		$j('#base_item_gpc_name').val($j("#classifier_value").val());
  })
	$j('#base_item_country').click(function(){
		var pos = $j("#country_input").offset();
		$j("#countries").css({
			top: (pos.top - 15) + "px",
			left: (pos.left + $j("#country_input").width() * 0.7) + "px"
		}).show();
		return false;
	});
	$j("#countries_close").click(function(){
	  hideCountriesNow();
	});
	$j("#country_select").click(function(){
	  selectCountryItem();
		$j('#base_item_country').val($j("#country_value").val());
	});

	$j("li", "#countries").click(function(){
	  selectCountry(this);
	});

	$j('#base_item_gpc_name').click(function(){
		$j('#classifier').show();
		$j.ajax({data:$j.param($j(this).serializeArray()), dataType:'script', type:'post', url:'/main/classifier'}); 
		return false;
	});
  $j("#classifier_close").click(function(){
    hideClassifierNow();
  });
  $j("#classifier_select").click(function(){
    selectClassifierItem();
		$j('#base_item_gpc_name').val($j("#classifier_value").val());
  });


	
	$j("#base_item_brand").change(function() {
		if(!is_description_touched){
			brand = $j("#base_item_brand").val();
			$j("#base_item_item_description").val(PrepareDescriptionString());
			}
	});
	$j("#base_item_subbrand").change(function() {

		if(!is_description_touched){
			subbrand = $j("#base_item_subbrand").val();
			$j("#base_item_item_description").val(PrepareDescriptionString());
			}
	});
	$j("#base_item_functional").change(function() {
		if(!is_description_touched){
			functional = $j("#base_item_functional").val();
			$j("#base_item_item_description").val(PrepareDescriptionString());
			}
	});
	$j("#base_item_content").change(function() {
		if(!is_description_touched){
			content = $j("#base_item_content").val();
			$j("#base_item_item_description").val(PrepareDescriptionString());
			}
	});
	$j("#base_item_content_uom").change(function() {
		if(!is_description_touched){
			content_uom = $j("#base_item_content_uom :selected").text();
			$j("#base_item_item_description").val(PrepareDescriptionString());
			}
	});

	$j("#base_item_item_description").change(function() {
		is_description_touched = true;
	});
	
	function PrepareDescriptionString(){
		var string = ""
		if (brand != "") {string = brand}
		
		if (subbrand != "") {
			string += ' ' + subbrand;
		}else {return string;}
		
		if (functional != ""){
			string += ' ' + functional;
		}else {return string;}
		
		if (content != ""){
			string += ' ' + content;
		}else {return string;}
		
		if (content_uom != ""){
			string += ' ' + content_uom;
		}else {return string;}
		
		return string;
		}
</script>
</div>
<div id='hidden_div' style="display: none"></div>