<div id="step1">
<table>
<tr class="info">
<td>
GTIN
</td>
<td>
Internal item id
</td>
</tr>
<tr class="val">
<td>
  <%= f.text_field :gtin %>
</td>
<td>
<%=f.text_field :internal_item_id%>
</td>
</tr>
<tr class="info">
<td>
Brand
</td>
<td>
Subbrand
</td>
<td>
Functional
</td>
<td>
Content
</td>
<td>
Content uom
</td>
</tr>
<tr class="val">
<td>
<%= text_field_with_auto_complete :base_item, :brand %>
</td>
<td>
<%= text_field_with_auto_complete :base_item, :subbrand %>
</td>
<td>
<%= text_field_with_auto_complete :base_item, :functional %>
</td>
<td>
<%=f.text_field :content %>
</td>
<td>
  <%= f.select :content_uom, @base_item.content_uoms %>
</td>
</tr>
<tr class="info">
<td colspan="4">
Item Description
</td>
</tr>
<tr class="val">
<td colspan="4">
<%= text_field_with_auto_complete :base_item, :item_description, :class => "w100" %>
</td>
</tr>
<tr class="info">
<td>
Manufacturer GLN
</td>
<td>
Manufacturer name
</td>
<td>
Country of origin
</td>
</tr>
<tr class="val">
<td>
<%= text_field_with_auto_complete :base_item, :manufacturer_gln, {}, :select => "value", :after_update_element => 
"function (e,v) {
	$('base_item_manufacturer_gln').value = v.getElementsByClassName('autocomplete_manufacturer_gln')[0].innerHTML;
  $('base_item_manufacturer_name').value = v.getElementsByClassName('autocomplete_manufacturer_name')[0].innerHTML;
}", :skip_style => true %>
</td>
<td>
	<%= text_field_with_auto_complete :base_item, :manufacturer_name, {}, :select => "value", :after_update_element => 
	"function (e,v) {
		$('base_item_manufacturer_gln').value = v.getElementsByClassName('autocomplete_manufacturer_gln')[0].innerHTML;
	  $('base_item_manufacturer_name').value = v.getElementsByClassName('autocomplete_manufacturer_name')[0].innerHTML;
	}", :skip_style => true %>
</td>
<td>
<%= f.select :country_of_origin_code, @base_item.countries %>
</td>
</tr>
<tr class="info">
<td colspan="3">
GPC Name
</td>
</tr>
<tr class="val">
<td colspan="3">
<%= f.text_field :gpc_name, :class => "w100" %>
</td>
</tr>
<input type="hidden" id="classifier_value">
<div id="classifier" class="gpc_results classifier" style="display:none">
  <div class='corner'></div>
  <a href="#" id="classifier_close" class="close"></a>
  <div id="groups" class="inline results_ul">
  </div>
  <div id="subgroups" class="inline results_ul">
  </div>
  <div id="categories" class="inline results_ul">
  </div>
  <div style="width:100%; position: relative; text-align: right;" class="inline">
    <hr>
    <a id="classifier_select" class="ok_button" href="#"></a>
  </div>
</div>
<script type="text/javascript">
	$j('#base_item_gpc_name').click(function(){
		$j('#classifier').show();
		$j.ajax({data:$j.param($j(this).serializeArray()), dataType:'script', type:'post', url:'/main/classifier'}); return false;
		return false;
	})
  $j("#classifier_close").click(function(){
    hideClassifierNow();
  })
  $j("#classifier_select").click(function(){
    selectClassifierItem();
		$j('#base_item_gpc_name').val($j("#classifier_value").val());
  })
</script>
<tr class="info">
<td>
Vat
</td>
<td>
Shelf life period
</td>
</tr>
<tr class="val">
<td>
  <%= f.select :vat, @base_item.vats %>
</td>
<td>
<%=f.text_field :minimum_durability_from_arrival%>
</td>
</tr>

</table>
</div>
<div id='hidden_div' style="display: none"></div>
