
<div id="step1" style="background: #FFF" >
<table>
<tr class="info">
<td>
GTIN
</td>
<td>
Internal item id
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr class="val">
<td>
  <%= f.text_field :gtin %>
</td>
<td>
<%=f.text_field :internal_item_id%>
</td>
</tr>
<tr class="info">
<td>
Brand
</td>
<td>
Subbrand
</td>
<td>
Functional
</td>
<td>
Content
</td>
<td>
Content uom
</td>
</tr>
<tr class="val">
<td>
 <%= f.autocomplete_field :brand, autocomplete_base_item_brand_base_items_path %>
</td>
<td>
 <%= f.autocomplete_field :subbrand, autocomplete_base_item_subbrand_base_items_path %>
</td>
<td>
 <%= f.autocomplete_field :functional, autocomplete_base_item_functional_base_items_path %>
</td>
<td>
 <%= f.text_field :content %>
</td>
<td>
  <%= f.select :content_uom, [nil] + @base_item.content_uoms %>
</td>
</tr>
<tr class="info">
<td colspan="4">
Item Description
</td>
</tr>
<tr class="val">
<td colspan="4">
<%= f.autocomplete_field :item_description, autocomplete_base_item_item_description_base_items_path, :class => "w100 classifier_input" %>
</td>
</tr>
<tr class="info">
<td>
Manufacturer GLN
</td>
<td>
Manufacturer name
</td>
<td>
Country of origin
</td>
</tr>
<tr class="val">
<td>
	<%= f.autocomplete_field :manufacturer_gln, autocomplete_base_item_manufacturer_gln_base_items_path,:update_elements => { :manufacturer_name => '#base_item_manufacturer_name'}%>

</td>
<td>
	<%= f.autocomplete_field :manufacturer_name, autocomplete_base_item_manufacturer_name_base_items_path,:update_elements => { :manufacturer_gln => '#base_item_manufacturer_gln'}%>
</td>

<td>
  <div id="country_input">
	  <div class="drop-down-cont zi-1">
      <%= f.text_field :country, :class => 'dd-input'%>
	  	<div class="drop-down">
	  		<div class="blue-tarr"></div>
	  		<div class="drop-down-list-cont">
	  			<div class="drop-down-list first" style="white-space:nowrap;">
	  				<ul>
              <%= render :partial => "main/country", :collection => Country.all(:order => 'description') %>
	  				</ul>
	  			</div>
	  		</div>
	  					<div class="remark">
				Пояснения к полю<br /><br /><br />
			</div>
	  		<a id='country_select_btn' class="choose-btn" href="#"></a>
	  	</div>
	  </div>
  </div>
</td>
</tr>
<tr class="info">
<td colspan="3">
GPC Name
</td>
</tr>
<tr class="val">
<td colspan="3">
<div id="classifier_input">
  <div class="dd-overlay"></div>
	  <div class="drop-down-cont zi-2">
		  <%= f.text_field :gpc_name, :class => "w100 dd-input" %>
  		<div class="drop-down">
	  		<div class="blue-tarr"></div>
	  		<div class="drop-down-list-cont" style ="width:783px;" >
	  		 	<div id='groups' class="drop-down-list first" style="width:260px">
	  			</div>
	  		  <div id='subgroups' class="drop-down-list" style="width:260px">
	  			</div>
	  			<div  id='categories' class="drop-down-list" style="width:260px">
	  			</div>
	  		</div>
	  	<div class="remark">
				Пояснения к полю<br /><br /><br />
			</div>
			  <a id='gpc_select_btn' class="choose-btn" href="javascript:void(0)"></a>
  		</div>
	  </div>
  </div>
</div>
</td>
</tr>
<tr class="info">
<td>
Vat
</td>
<td>
Shelf life period
</td>
</tr>
<tr class="val">
<td>
  <%= f.select :vat, @base_item.vats %>
</td>
<td>
  <%=f.text_field :minimum_durability_from_arrival%>
</td>
</tr>
</table>
<div class="dd-overlay"></div>
<%= javascript_include_tag  'dropdowns' %>
<script type="text/javascript">
    var uoms_names = {};
    <%@base_item.content_uoms.each do |p|%>
      uoms_names['<%= p[1]%>'] = '<%= p[0]%>';
    <%end%>

    var uoms = {};
    <%@base_item.content_uoms.each do |p|%>
    uoms['<%= p[0]%>'] = '<%= p[1]%>';
    <%end%>
    var vats = {};
    <%@base_item.vats.each do |p|%>
    vats['<%= p[0]%>'] = '<%= p[1]%>';
    <%end%>

  $j('#base_item_manufacturer_gln').bind('railsAutocomplete.select', function(event,ui){
    $j('#base_item_manufacturer_gln').val(this.value.split(' : ')[0]);
  });
  $j('#base_item_manufacturer_name').bind('railsAutocomplete.select', function(event,ui){
    $j('#base_item_manufacturer_name').val(this.value.split(' : ')[1]);
  });

	$j("#country_select_btn").click(function(){
    $j('#country_input .drop-down-list ul li a').each( function(){
      if ($j(this).parent().hasClass('selected')){
        $j('#base_item_country').val($j(this).html());
     		$j('.drop-down').css('visibility','hidden');
    		$j('.dd-overlay').css('display', 'none');
    		return false;
    		}
    });
  });
  $j('#base_item_gpc_name').click(function(){
    $j.ajax({data:$j.param($j(this).serializeArray()), dataType:'script', type:'post', url:'/main/classifier'});
	});

	$j("#gpc_select_btn").click(function(){
    $j('#categories ul li a').each( function(){
      if ($j(this).parent().hasClass('selected')){
        $j('#base_item_gpc_name').val($j(this).html());
     	 	$j('.drop-down').css('visibility','hidden');
    	 	$j('.dd-overlay').css('display', 'none');
       	return false;
      }
    });
  });
/*
	$j('#base_item_gpc_name').click(function(){
		$j('#classifier').show();
		$j.ajax({data:$j.param($j(this).serializeArray()), dataType:'script', type:'post', url:'/main/classifier'}); return false;
		return false;
	})
  $j("#classifier_close").click(function(){
    hideClassifierNow();
  })
  $j("#classifier_select").click(function(){
    selectClassifierItem();
		$j('#base_item_gpc_name').val($j("#classifier_value").val());
  })
	$j('#base_item_country').click(function(){
		var pos = $j("#country_input").offset();
		$j("#countries").css({
			top: (pos.top - 65) + "px",
			left: (pos.left + $j("#country_input").width() * 0.5) + "px"
		}).show();
		return false;
	});


	$j('#base_item_gpc_name').click(function(){
		$j('#classifier').show();
		$j.ajax({data:$j.param($j(this).serializeArray()), dataType:'script', type:'post', url:'/main/classifier'});
		return false;
	});
  $j("#classifier_close").click(function(){
    hideClassifierNow();
  });
  $j("#classifier_select").click(function(){
    selectClassifierItem();
		$j('#base_item_gpc_name').val($j("#classifier_value").val());
  });

*/

<% if params[:action]=='new' %>
  var is_description_touched = false;


  $j("#base_item_brand").bind('railsAutocomplete.select', function(event,ui){PrepareDescriptionString();});
	$j("#base_item_brand").change(function(){PrepareDescriptionString()});

  $j("#base_item_subbrand").bind('railsAutocomplete.select', function(event,ui){PrepareDescriptionString();});
	$j("#base_item_subbrand").change(function(){PrepareDescriptionString()});

  $j("#base_item_functional").bind('railsAutocomplete.select', function(event,ui){PrepareDescriptionString();});
	$j("#base_item_functional").change(function(){PrepareDescriptionString()});

  $j("#base_item_content").bind('railsAutocomplete.select', function(event,ui){PrepareDescriptionString();});
	$j("#base_item_content").change(function(){PrepareDescriptionString()});

  $j("#base_item_content_uom").bind('railsAutocomplete.select', function(event,ui){PrepareDescriptionString();});
	$j("#base_item_content_uom").change(function(){PrepareDescriptionString()});


	$j("#base_item_item_description").change(function() {
		is_description_touched = true;
	});

	function PrepareDescriptionString(){
    if (!is_description_touched){
		  var string = ""
        string += $j("#base_item_brand").val();
        string += " ";
      	string += $j("#base_item_subbrand").val();
        string += " ";
      	string += $j("#base_item_functional").val();
        string += " ";
       	string += $j("#base_item_content").val();
        if ($j("#base_item_content_uom").val()){
          string += " ";
        	string += uoms_names[$j("#base_item_content_uom").val()];
        	}
     		$j("#base_item_item_description").val(string);
      }
		}
<% end %>
</script>
</div>
<div id='hidden_div' style="display: none"></div>

