<% unless @view_only %>
        <div class="left-side-subscribers bb">
        		<span class="block-title"><%= t 'main.subscribers' %> (<%= @base_item.item.subscribers.count %>)</span>
    <% if @base_item.item.subscribers.count > 0 %>
      <% for u in @base_item.item.subscribers do %>
        <div class="subscriber">
          <% sr = u.subscription_results.find_by_base_item_id(@base_item.id) if @base_item.published? %>
          <% if @base_item.published? %>
              <% ind = %w{filler multi accepted new canceled}%>
        			<span class="subscriber-name stat-<%=(sr ? ind.index(sr.status) : '-')%>" title="<%= (sr ? sr.status_for_title : t('sr.not_send') )%>"><%= u.name %></span><br />
          <%else%>
         			<span class="subscriber-name"><%= u.name %></span><br />
          <% end %>
          <% ra = RetailerAttribute.find(:first, :conditions => {:user_id => u.id, :item_id => @base_item.item.id})||RetailerAttribute.new %>
        	<span class="subscriber-address">
          	<%= "#{ra.retailer_article_id}" if ra.retailer_article_id.to_s.length > 0 %><%= ", #{ra.retailer_item_description}" if ra.retailer_item_description.to_s.length > 0 %><%= ", #{ra.retailer_classification}" if ra.retailer_classification.to_s.length > 0 %>
        	</span>
        </div>
      <% end %>
    <% end %>
          </div>



<% end %>

