<% unless @view_only || @base_item.draft? %>
        <div class="versions">
        		<span class="block-title"><%= t 'item.versions' %></span>
        		<ul>
            <% i = 0 %>
            <% @base_item.item.base_items.find(:all, :conditions => {:status => "published"}, :order => 'created_at').reverse.each do |v| %>
        			<li class="<%= i==0 ? 'cur-version' : 'strikethrough'%>">
               <% if v.id == @base_item.id %>
                  <%= @base_item.updated_at.to_s(:db) %>
                <% else %>
                  <a href="<%= v.id %><%if  @view_only %>?view=1<% end %>"><%= v.updated_at.to_s(:db) %></a>
                <% end %>
       			  </li>
              <% i +=1 %>
            <% end %>
				    </ul>
        </div>
<% end %>

