<%= javascript_include_tag "jquery/jquery.selectchain.js" %>
<%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls' %>

<h1>Editing base item</h1>

<%= link_to 'Revert to published', published_base_item_path(@base_item) %>

<% form_for(@base_item) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @base_item %> |
<%= link_to 'Back', base_item_path %>
