<h1>Listing base items</h1>

<table class="results" cellspacing="0" cellpadding="2">
  <tr>
    <th>Record code</th>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @base_items.each do |base_item| %>
  <tr>
    <td><%= link_to base_item.gtin, base_item_path(base_item) %></td>
    <td><%= h base_item.name %></td>
    <td><%= base_item.status %></td>
    <td><%= link_to 'Destroy', base_item, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Создать на основе этой', :controller => :base_items, :action => :new, :base => base_item.id %></td>
    <td><%= link_to 'Publish', publish_base_item_path(base_item) %></td>
    <td><%= link_to 'Accept', accept_base_item_path(base_item) %></td>
    <td><%= link_to 'Reject', reject_base_item_path(base_item) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New base_item', new_base_item_path %>
