<div id="left-side">
  <%= render :partial => "image" %>
</div>

<div id="middle-side">
  <div class="wrap">
    <div class="w760">
      <div class="address">
        <%= link_to t('main.base_items'), "/base_items"%>
        <%= link_to t('item.add_item'), "#", :class => "last"%>
      </div>
      <%= form_for @base_item, :html => {:class => 'jNice'} do |f| %>
        <%= f.error_messages %>
        <div class="item-description" id="base_item">
        <%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } if @base_item.current_step == 'step1' %>
          <div class="clr"></div>
          <br/>
        </div>
        <%if @base_item.current_step == 'step2'%>
        <div class="item-description" id="base_item">
          <%= render :partial => "base"%>
          <div class="clr"></div>
          <br/>
        </div>
          <div class="logistics main">
            <%= render :partial => "#{@base_item.current_step}", :locals => {:f => f }  %>
          </div>

        <%end%>
        <%= f.submit t('main.back'), :name => "back_button", :class => "submit-btn fleft" unless @base_item.first_step? %>
        <%= f.submit t('main.next'), :class => "submit-btn", :id=>'next_button' %>
      <% end %>
      <div class="dd-overlay"></div>
    </div>
  </div>
</div>

