
<div id="left-side">
  <%= render :partial => "image" %>
</div>

<div id="middle-side">
  <div class="wrap">
    <div class="w760">
      <div class="address">
        <%= link_to t('main.base_items'), "/base_items"%>
        <%= link_to t('item.add_item'), "#", :class => "last"%>
      </div>
      <%= form_for(@base_item) do |f| %>
        <%= f.error_messages %>
        <%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } if @base_item.current_step == 'step1' %>
        <%= render :partial => "base" if @base_item.current_step == 'step2' %>
        <%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } if @base_item.current_step == 'step2' %>
        <%= f.submit t('main.back'), :name => "back_button", :class => "button" unless @base_item.first_step? %></p>
        <%= f.submit t('main.next'), :class => "button" %>
      <% end %>
      <div class="dd-overlay"></div>
    </div>
  </div>
</div>

