<% content_for :head do %>
  <%= javascript_include_tag 'classifier' %>
<% end %>

<%= link_to 'Back', base_items_path %>

<table valign="top" class="item-content">
<tr>
<td valign="top" style="width: 200px">
<%= render :partial => "image" %>
</td>
<td valign="top" style="background: #fff; padding: 0;">
<% form_for(@base_item) do |f| %>
<%= f.error_messages %>
<%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } if @base_item.current_step == 'step1' %>
<%= render :partial => "base" if @base_item.current_step == 'step2' %>
<%= render :partial => "#{@base_item.current_step}", :locals => {:f => f } if @base_item.current_step == 'step2' %>
<%= f.submit "Назад", :name => "back_button", :class => "button" unless @base_item.first_step? %></p>
<%= f.submit "Дальше", :class => "button" %>
<% end %>
</td>
</tr>
</table>
