<div id="base_item", class="base_item">
  <%= render :partial => 'item' %>
</div>

<% content_for :right do %>
  <div id="packaging_items">
    <%= render 'packaging_items/index' %>
  </div>
<% end %>

<% content_for :top do %>
	<% unless @view_only %>
	<p><%= link_to 'вернуться к списку bi', base_items_path %></p>
	<% end %>
	<div class="item_header"><%= h @base_item.gtin %> <%= h @base_item.name %></div>
<% end %>
