<% content_for :head do %>
  <%= javascript_include_tag 'classifier', 'jquery.lightbox-0.5' %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.lightbox-0.5.css" media="screen" />
  <script type="text/javascript" charset="utf-8">
  $j(document).ready(function(){
    $j("#iil").lightBox();
  });
  </script>
<% end %>

<% if @subscription_result && @subscription_result.new? %>
  <%= render :partial => 'subscription_results/actions', :locals => { :result => @subscription_result } %>
<% else %>
  <% if params[:view] %>
    <%= @base_item.item.user.gln %> <%= @base_item.item.user.name %>
    <div id="by_item_id"><%= render :partial => 'subscription/by_item_id' %></div>
  <% end %>
<% end %>

<table valign="top" class="item-content">
<tr>
<td valign="top" style="width: 200px">
<%= render :partial => "image" %>
<%= render :partial => "tags/clouds" %>
<%= render :partial => "add_tag" %>
<%= render :partial => 'subscribers' %>
<%= render :partial => "versions" %>
</td>
<td valign="top" style="background: #fff; padding: 0">
<div class="part-right">
  <%= render :partial => 'item' %>
  <%= render 'packaging_items/index' %>
  <%= render :partial => 'privacy' %>
  <%= render 'comments/comments' %>
  <%= render :partial => 'publish' %>

  <% unless @view_only %>
    <% content_for :leftmenu do %>
    <%= link_to 'вернуться к списку товаров', base_items_path %>
    <% end %>
  <% end %>

<%= render :partial => 'subscription_results/actions', :locals => { :result => @subscription_result } if @subscription_result && @subscription_result.new? %>
</div>
</td>
</tr>
</table>

