<% content_for :head do %>
  <%= javascript_include_tag 'classifier' %>
<% end %>
<% if @subscription_result && @subscription_result.new? %>
<%= render :partial => 'subscription_results/actions', :locals => { :result => @subscription_result } %>
<% else %>
  <% if params[:view] %>
    <%= @base_item.item.user.gln %> <%= @base_item.item.user.name %>
  <% end %>
<% end %>
<div id="base_item">
  <div style="width: 1200px;">
  	<%= render :partial => 'item' %>
  </div>
</div>
<div class="clear"></div>
<!--pi-->
<div id="packaging_items">
	<%= render 'packaging_items/index' %>
</div>
<!--/pi-->
<!--comments block-->
<br>
<br>
<h2>Комментарии</h2>
<div id="comments">
	<% @base_item.item.comments.each do |c| %>
		<div>
			<div style="background: #FFFECC"><%= c.user.name %>, <%= c.created_at.to_s(:cmnt) %></div>
			<strong><%= c.content %></strong>
		</div>
	<% end %>
</div>
<!--/comments block-->
<% if @base_item.draft? %>
 	<% form_for @base_item, :url => url_for(:controller => "base_items", :action => 'published', :id => @base_item.id) do |f| %>
		<% if @base_item.item.user.id == current_user.id %>
	  	<% f.fields_for @base_item.comments.new do |c| %>
	  		<%= c.hidden_field 'item_id', :value => @base_item.item.id %>
				<%= c.hidden_field 'base_item_id', :value => @base_item.id %>
	  		<%= c.text_area :content, :rows => 4, :cols => "30", :class => "comment-area" %><br/>
	  	<% end %>
		<% end %>
   	<%= f.submit "Опубликовать", :class => "button" %>
   	<%= f.submit "Отменить", :name => "cancel", :class => "button" %>
 	<% end %>
<% end %>

<% content_for :top do %>
	<% unless @view_only %>
		<p><%= link_to 'вернуться к списку bi', base_items_path %></p>
	<% end %>
<!--<div class="item_header"><%= h @base_item.gtin %> <%= h @base_item.item_description %></div>-->
<% end %>
<%= render :partial => 'subscription_results/actions', :locals => { :result => @subscription_result } if @subscription_result && @subscription_result.new? %>
