<% content_for :head do %>
    <%= javascript_include_tag 'classifier', 'jquery.lightbox-0.5' %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.lightbox-0.5.css" media="screen"/>
    <script type="text/javascript" charset="utf-8">
        $j(document).ready(function() {
            $j("#iil").lightBox();
        });
    </script>
<% end %>



<div id="left-side">
  <%= render :partial => "image" %>
  <div class="btn-profil bb">
    <%= render :partial => "clouds" %>
    <%= render :partial => "add_tag" %>
  </div>
  <%= render :partial => 'subscribers' %>
  <%= render :partial => "versions" %>
</div>
<div id="middle-side">
  <div class="wrap">
    <div class="dd-overlay"></div>
    <div class="w760">
      <div class="address">
        <%#<a href="/base_items/">Список товаров</a><a href="#" class="last">Товар</a>%>
        <%= link_to t('main.base_items'), "/base_items"%>
        <%= link_to t('main.item'), "#", :class => "last"%>
      </div>
      <div class="blue-btns bb">
        <% if @subscription_result && @subscription_result.new? %>
          <%= render :partial => 'subscription_results/actions', :locals => {:result => @subscription_result} %>
        <% else %>
          <% if params[:view] %>
            <%= @base_item.item.user.gln %> <%= @base_item.item.user.name %>
            <div id="by_item_id"><%= render :partial => 'subscription/by_item_id' %></div>
          <% end %>
        <% end %>

        <% unless @view_only || @base_item.draft? %>
              <%= form_for @base_item, :url => url_for(:controller => "base_items", :action => 'draft', :id => @base_item.id) do |f| %>
                  <%= link_to content_tag(:span, I18n.t('main.edit'), :onclick=>"$j('#edit_base_item_#{@base_item.id}').submit()"),'javascript:void(0)', :class => "blue-btn", :onclick=>"$j('#edit_base_item_#{@base_item.id}').submit()" %>
              <% end %>
              <%= link_to  content_tag(:span, I18n.t('main.export'), :class => "show_export_form"), "javascript:void(0)", :class => "blue-btn show_export_form" %>
        <% end %>
        <% if @view_only and !@base_item.draft? %>
              <%= link_to content_tag(:span, I18n.t('main.export'), :class => "show_export_form"), "javascript:void(0)", :class => "blue-btn show_export_form" %>
        <% end %>

      </div>
      <%= render :partial => 'item' %>
      <div class="logistics main">
        <%= render 'packaging_items/index' %>
        <%= render :partial => 'privacy' %>
        <%= render 'comments/comments' %>
        <%= render :partial => 'publish' %>
        <%= render 'comments/comments' %>
      </div>

      <% unless @view_only %>
            <% content_for :leftmenu do %>
                <%= link_to t('item.back'), base_items_path %>
            <% end %>
      <% end %>

      <%= render :partial => 'subscription_results/actions', :locals => {:result => @subscription_result} if @subscription_result && @subscription_result.new? %>

    </div>
  </div>
</div>
<div class="clr"></div>
</div>

