- title t('.title')

= simple_form_for(resource, as: resource_name, html: { method: :put },
    url: password_url(resource_name, subdomain: Settings.app_subdomain)) do |f|
  = f.input :reset_password_token, as: :hidden
  .clearfix
    %p= f.full_error :reset_password_token, class: "alert-message block-message error"

  .inputs
    = f.input :password, label: t('.password'), required: true, hint: false
    = f.input :password_confirmation, label: t('.confirm'), required: true
    = render partial: 'users/show_password'
  .actions
    = f.button :submit, t('.change'), class: "primary"
