- title t('.title')
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true
  .actions
    = f.button :submit, t('.send')
  = link_to t('.sign_in'), new_session_path(resource_name)
