<% remote_form_for(@user_attributes) do |f| %>
<%= f.hidden_field :user_id %>
<h3>Комментарии</h3>
<%= f.text_area :comment, :rows => 3 %>
<h3>Id</h3>
<%= f.text_field :inner_id %>
<br/>
<%= f.submit "Сохранить", :class => "submit" %><br/>
<%= button_to_remote "Отмена", {:url => url_for(:controller => "user_attributes", :action => "show", "user_attributes[user_id]" => @user.id), :method => :get}, :class => "button" %>
<% end %>
