= simple_form_for(@product, wrapper: :inline) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :description, as: :text

  .actions
    = f.button :submit, class: "primary"
    = button_tag t("cancel"), type: :reset, class: "btn"
