= title t('.title'), page_title: false

- content_for(:sidemenu) do
  = ProductDecorator.create_link

- if @products.empty?
  = render "welcome_box"

- else
  - ProductDecorator.group(@products, by: :functional_name).each do |functional, products|
    %article
      %header
        .row.tr
          .attr_val= functional

      - products.each_slice(2) do |items|
        .row.tr
          - items.each do |product|
            = render product


