= title t('.title'), page_title: false

- content_for(:sidebar) do
  = ProductDecorator.create_link class: "btn large primary"

%article
  %table
    %tbody
      - @products.each do |product|
        %tr
          %td
            - if product.photos.last.nil?
              = image_tag("product_small.png")
            - else
              = image_tag product.photos.last.image.small.url
          %td
            %h2= product.show_link(name: :name, fallback: true)
