= title @product.name, page_title: false

- content_for(:sidebar) do
  = image_tag("product_missing.jpg")
  %br
  %br

  = @product.edit_link(class: "btn large")
  %br
  %br

  = @product.destroy_link(class: "btn small danger")

  %br
  %br
  = link_to t("back"), products_path

%article
  %header
    %h2= @product.name

  %p= @product.description

%section#comments
  - if can? :create, Comment
    = render "comments/form", commentable: @product, type: "product"

  %table
    %tbody#comments_list
      -#- for comment in @comments
      -#  = render comment
      = render partial: "comments/comment", collection: @comments
