= title @product_version.name, page_title: false

- content_for(:sidebar) do
  = render "photos/photo", photo: @product.photos.last, disable_uploads: true

  %br
  %br

  = @product.edit_link(class: "btn large")
  %br
  %br

  = @product.destroy_link(class: "btn small danger")
  
  %br
  %br
  = render "versions"
  %br
  %br
  = link_to t("back"), products_path

%article
  %header
    %h2= @product_version.name

  %p= @product_version.description

%section#comments
  - if can? :create, Comment
    = render "comments/form", commentable: @product, type: "product"

  %table
    %tbody#comments_list
      -#- for comment in @comments
      -#  = render comment
      = render partial: "comments/comment", collection: @comments



