= title @product.name, page_title: false

- content_for(:sidebar) do
  = image_tag("product_missing.jpg")
  %br
  %br

  = @product.edit_link(class: "btn large")
  %br
  %br

  = @product.destroy_link(class: "btn small danger")
  
  %br
  %br
  %h3 Versions
  %ul
  - (1..@product.version).reverse_each do |v|
    %li= @product.show_version_link(v)
    
  %br
  %br
  = link_to t("back"), products_path

%article
  %header
    %h2= @product.name

  %p= @product.description

-#= link_to 'Edit', edit_product_path(@product)
-#\|

