= title @product.name, page_title: false

- content_for(:sidebar) do
  = image_tag("product_missing.jpg")
  %br
  %br

  = @product.edit_link(class: "btn large")

  %br
  %br
  = link_to t("back"), products_path

%article
  %header
    %h2= @product.name

  %p= @product.description

-#= link_to 'Edit', edit_product_path(@product)
-#\|

