<div id='left-side'>
  <div class="top-box">
  </div>
  <%= render '/nav' %>
  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'supplier.title' %></a>
      <ul>
        <%= selected_wrapper "<a href='?subscribed=true' class='filter'>"+t('supplier.my_suppliers')+"</a>", params[:subscribed].to_s == 'true' %>
      </ul>
      </li>
  </div>
  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'main.tags' %></a>
      <ul>
        <% @clouds.each do |c| %>
            <%= selected_wrapper "<a href='?tag=#{c.tag.id}' >#{c.tag.name} (#{c[:q]}#{c.q})</a>", params[:tag].to_s == c.tag_id.to_s %>
        <% end %>
      </ul>
      </li>
  </div>
</div>
<!--/filters-->
<!--data-->
<div id="middle-side">
  <div class="wrap">
    <div class="address"><a href="#"><%= t 'supplier.title' %></a></div>
      <div id="retailers">
        <% @users.each do |user|%>
                <div id="bi-<%= user.id %>" class="item <%= 'subscribed' if user.my_retailer_flag(current_user.id) %>">
                    <div class="img"><img src="./images/newdesign/retailer-img-1.jpg" alt="" /></div>
                    <div class="desc">
                        <%= link_to user.name, supplier_path(user), :class => 'title' %>
                        <div class="contact">адрес</div>
                        <div class="btns">
                          <% user.user_tags.where(:author_id => current_user.id ).each do |c| %>
                            <a class="btn" href='?tag=#{c.tag.id}' ><span><%= c.tag.name%></span></a>
                          <%end%>
                        </div>
                        <div class="date">Последнее обновление: <%= user.fresh_base_items %></div>
                        <div class="col">Товаров: <span><b><%= user.base_items.last_published.count%></b></span></div>
                        <p class='sort-btn' style='text-align:left'>
                          <%= link_to 'Подписка по gtin', "/subscriptions/by_gtin/#{user.id}", {:class=>"export", :onclick=>"event.stopPropagation();"} %>
                          <%= link_to user.my_retailer_info(current_user.id),"javascript:void(0)", {:class=>"export",:id => "bs-#{user.id}",:onclick=>"return subscription(event, this, '#{user.id}')"}%>
                        </p>
                    </div>

                    <div class="clr"></div>
                </div>
         <%end%>
      </div>
    </div>
  </div>
</div>

<div class="fright">
<form method="GET" action="/suppliers/all" id="search-form">
<input id="search-form-input" type="text" name="search" value="<% if params[:search].to_s == '' %>Поиск<% else %><%=h params[:search] %><% end %>"/>
<a href="?"><div id="search-clear" class="<% if params[:search].to_s != '' %>search-clear-active<% else %>search-clear-inactive<% end %>"></div></a>
</form>
<div style="clear:both; text-align:center;"><%= html_pager @users %></div>
</div>
<br/>
<h2><%= t 'supplier.title' %></h2>
<div class="filters">
<div>
  <strong><%= t 'supplier.title' %></strong>
<%= selected_wrapper "<a href='?subscribed=true' class='filter'>"+t('supplier.my_suppliers')+"</a>", params[:subscribed].to_s == 'true' %>
</div>
<br/>
<div>
  <strong><%= t 'tags.title' %></strong>
<% @clouds.each do |c| %>
<%= selected_wrapper "<a href='?tag=#{c.tag.id}' class='filter'>#{c.tag.name}</a> (#{c.q})", params[:tag].to_s == c.tag_id.to_s %>
<% end %>
</div>
</div>
<div class="data">
<% for u in @users do %>
<div class="bi <% if u.my_retailer_flag(current_user.id) %>subscribed<% end %>" id="bi-<%= u.id %>" onclick="document.location='<%= supplier_path(u) %>'">
  <div class="bi-right"><button id="bs-<%= u.id %>" onclick="return subscription(event, this, '<%= u.id %>')"><%= u.my_retailer_info(current_user.id) %></button></div>
  <div class="bi-right">

  </div>&nbsp;
  <div class="bi-image"><img src="/images/item_image_small.jpg" width="50px" alt="Supplier Image"/></div>
  <div class="bi-content">
    <div><span class="normal"><%= u.gln %></span> <span class="light"><%= link_to u.name, supplier_path(u) %></div>
      <div class="usual"><%= t 'main.item_quantity' %>: <%=u.count_fresh_base_items %></div>
    <div class="light"><%= u.user_tags.find(:all, :conditions =>{:author_id => current_user.id}).collect{|c| c.tag.name}.join(', ') %></div>
    <div class="light"><%= t 'item.date_of_the_newest' %>: <%= u.fresh_base_items %></div>
    <div class="light mini"></div>
  </div>
</div>
<% end %>
</div>
<%= will_paginate @users %>

