<h1>Поставщики</h1>
<table>
<tr>
<td>GLN</td><td>Название</td><td>количество bi</td><td>дата самого свежего bi</td><td>Подписка</td>
</tr>
<% for u in @users do %>
<tr>
<td><%= u.gln %></td><td><%= u.name %></td><td><%=u.base_items.count %></td><td><%= u.fresh_base_items %></td>
<td><button onclick="return subscription(this, '<%= u.id %>')"><%= u.my_retailer_info(current_user.id) %></button>
<% end %>
</td>
</tr>
</table>
<%= will_paginate @users %>
