<div class="fright">
<form method="GET" action="/suppliers/all" id="search-form">
<input id="search-form-input" type="text" name="search" value="<% if params[:search].to_s == '' %>Поиск<% else %><%=h params[:search] %><% end %>"/>
<a href="?"><div id="search-clear" class="<% if params[:search].to_s != '' %>search-clear-active<% else %>search-clear-inactive<% end %>"></div></a>
</form>
</div>
<h1>Поставщики</h1>
<% for u in @users do %>
<div class="bi <% if u.my_retailer_flag(current_user.id) %>subscribed<% end %>" id="bi-<%= u.id %>" onclick="document.location='<%= supplier_path(u) %>'">
  <div class="bi-right"><button id="bs-<%= u.id %>" onclick="return subscription(event, this, '<%= u.id %>')"><%= u.my_retailer_info(current_user.id) %></button></div>
  <div class="bi-image"><img src="/images/item_image_small.jpg" width="50px" alt="Supplier Image"/></div>
  <div class="bi-content">
    <div><span class="normal"><%= u.gln %></span> <span class="light"><%= link_to u.name, supplier_path(u) %></div>
    <div class="usual">Количество товаров: <%=u.count_fresh_base_items %></div>
    <div class="light">Дата самого свежего: <%= u.fresh_base_items %></div>
    <div class="light mini"></div>
  </div>
</div>
<% end %>
<%= will_paginate @users %>
