<div id='left-side'>
  <div class="top-box">
  </div>
  <%= render '/nav' %>
  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'supplier.title' %></a>
      <ul>
        <%= selected_wrapper "<a href='?subscribed=true' class='filter'>"+t('supplier.my_suppliers')+"</a>", params[:subscribed].to_s == 'true' %>
      </ul>
      </li>
  </div>
  <div class='cat'>
    <ul>
      <li><a href='#'><%= t 'main.tags' %></a>
      <ul>
        <% @clouds.each do |c| %>
            <%= selected_wrapper "<a href='?tag=#{c.tag.id}' >#{c.tag.name} (#{c[:q]}#{c.q})</a>", params[:tag].to_s == c.tag_id.to_s %>
        <% end %>
      </ul>
      </li>
  </div>
</div>
<!--/filters-->
<!--data-->
<div id="middle-side">
  <div class="wrap">
    <div class="address"><a href="#"><%= t 'supplier.title' %></a></div>
      <div id="retailers">
        <% @users.each do |user|%>
                <div id="bi-<%= user.id %>" class="item <%= 'subscribed' if user.my_retailer_flag(current_user.id) %>">
                    <div class="img"><img src="./images/newdesign/retailer-img-1.jpg" alt="" /></div>
                    <div class="desc">
                        <%= link_to user.name, supplier_path(user), :class => 'title' %>
                        <div class="contact"><%= t 'main.address' %></div>
                        <div class="btns">
                          <% user.user_tags.where(:author_id => current_user.id ).each do |c| %>
                            <a class="btn" href='?tag=#{c.tag.id}' ><span><%= c.tag.name%></span></a>
                          <%end%>
                        </div>
                        <div class="date"><%= t 'supplier.last_update' %>: <%= user.fresh_base_items %></div>
                        <div class="col"><%= t 'main.items' %>: <span><b><%= user.base_items.last_published.count%></b></span></div>
                        <p class='sort-btn' style='text-align:left'>
                          <%= link_to t('subscription.subscribe_gtin'), "/subscriptions/by_gtin/#{user.id}", {:class=>"export", :onclick=>"event.stopPropagation();"} %>
                          <%= link_to user.my_retailer_info(current_user.id),"javascript:void(0)", {:class=>"export",:id => "bs-#{user.id}",:onclick=>"return subscription(event, this, '#{user.id}')"}%>
                        </p>
                    </div>

                    <div class="clr"></div>
                </div>
         <%end%>
      </div>
    </div>
  </div>
</div>

