  <% if current_user.id %>
	<div class="search">
	  <form action="#" method="post">
      <input id="search-form-input" class="search-inp" type="text" name="search" value="<% if params[:search].to_s == '' %><%= t 'main.search' %><% else %><%=h params[:search] %><% end %>"/>
			<input type="submit" class="search-btn" value="&nbsp;" />
	  </form>
	  <div class="clr"></div>
    </div>
	<ul id="top-menu">
    <% if @content_for_leftmenu %><%#if content_for? (:leftmenu) for rails 3 %>
        <%= yield :leftmenu %>
      <% else %>
        <% if current_user.supplier? %>
          <li class='first'><%= link_to t('menu.my_items'), base_items_path, {:class=>"#{'cur' if params[:controller]=='base_items'}"}%> </li>
          <li><%= link_to t('menu.statuses'), {:controller => 'statuses'}, {:class=>"#{'cur' if params[:controller]=='statuses'}"} %> </li>
        <% end %>
        <% if current_user.retailer? %>
          <li class='first'><%= link_to t('menu.inbox'), subscription_results_path, {:class=>"#{'cur' if params[:controller]=='subscription_results'}"} %> </li>
          <li><%= link_to t('menu.received_items'), {:controller => 'retailer_items'}, {:class=>"#{'cur' if params[:controller]=='retailer_items'}"} %> </li>
          <li><%= link_to t('menu.suppliers'), suppliers_path, {:class=>"#{'cur' if params[:controller]=='suppliers'}"} %> </li>
        <% end %>
        <li>  <%= link_to t('menu.messages'), {:controller => 'messages'}, {:class=>"#{'cur' if params[:controller]=='messages'}"} %> </li>
        <li>  <%= link_to t('menu.events'), {:controller => 'events'}, {:class=>"#{'cur' if params[:controller]=='events'}"} %></li>
     <% end %>
	</ul>
    <div class="right">
        <%= link_to current_user.name, '#', :class=> 'company' %>
        <%= link_to t('main.settings'), '#', :class=> 'set name''#'%>
        <%= link_to t('menu.log_off'), url_for(:controller => :user_sessions, :action => :logout) %>
        <% for locale in @other_locales %>
          <%= link_to locale[:locale], locale, :class=> "locale_#{locale}" %>
        <% end %>
    </div>
    <div class="clr"></div>
  <% end %>

