<div class="header">
  <% if current_user.id %>
  <div class="fleft">
  <% if @content_for_leftmenu %><%#if content_for? (:leftmenu) for rails 3 %>
  <%= yield :leftmenu %>
  <% else %>
  <% if current_user.supplier? %><%= link_to t('menu.my_items'), :controller => 'base_items' %> | <% end %>
  <% if current_user.retailer? %><%= link_to t('menu.inbox'), :controller => 'subscription_results' %> | <% end %>
  <%= link_to t('menu.messages'), :controller => 'messages' %> |
  <% if current_user.supplier? %><%= link_to t('menu.statuses'), :controller => 'statuses' %> | <% end %>
  <% if current_user.retailer? %><%= link_to t('menu.received_items'), :controller => 'retailer_items' %> | <% end %>
  <% if current_user.retailer? %><%= link_to t('menu.suppliers'), :controller => 'suppliers' %> | <% end %>
  <%= link_to t('menu.events'), :controller => 'events' %>
  <% end %>
  </div>
  <div class="fright">
    <%= current_user.name %> | <%= link_to t('menu.log_off'), url_for(:controller => :user_sessions, :action => :logout) %>
  </div>
  <div class="clear"></div>
  <% end %>
</div>
