  <% if current_user.id %>
  <div class="search">
    <form method="GET" action="" id="search-form">
      <input id="search-form-input" class="search-inp" type="text" name="search" value="<% if params[:search].to_s == '' %>Поиск<% else %><%=h params[:search] %><% end %>"/>
      <a href="?"><div id="search-clear" class="<% if params[:search].to_s != '' %>search-clear-active<% else %>search-clear-inactive<% end %>"></div></a>
      <input type="submit" class="search-btn" value="&nbsp;" />
    </form>
    <div class="clr"></div>
  </div>
  <div class="right">
    <%= link_to current_user.name, '#' %>
    <a href="#" class="set">Настройки</a>
    <%= link_to t('menu.log_off'), url_for(:controller => :user_sessions, :action => :logout) %>
  </div>
  <div class="company">«<%= current_user.name %>» <%= current_user.gln %></div>
  <div class="clr"></div>
  <% end %>

