<!--
  <div class="cat">
    <ul>
      <% if @content_for_leftmenu %><%#if content_for? (:leftmenu) for rails 3 %>
        <%= yield :leftmenu %>
      <% else %>
        <% if current_user.supplier? %><li><%= link_to t('menu.my_items'), :controller => 'base_items' %> </li> <% end %>
        <% if current_user.retailer? %><li><%= link_to t('menu.inbox'), :controller => 'subscription_results' %> </li> <% end %>
        <li>  <%= link_to t('menu.messages'), :controller => 'messages' %> </li>
        <% if current_user.supplier? %><li><%= link_to t('menu.statuses'), :controller => 'statuses' %> </li> <% end %>
        <% if current_user.retailer? %><li><%= link_to t('menu.received_items'), :controller => 'retailer_items' %> </li> <% end %>
        <% if current_user.retailer? %><li><%= link_to t('menu.suppliers'), :controller => 'suppliers' %> </li> <% end %>
        <li>  <%= link_to t('menu.events'), :controller => 'events' %></li>
      <% end %>
    </ul>
  </div>
-->

