%meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
%meta{:name => "robots", :content => "noindex, nofollow"}
%meta{:name => "keywords", :content => ""}
%meta{:name => "description", :content => ""}
%title= "#{Settings.project_name}#{": #{yield(:head_title)}" if content_for?(:head_title)}"
= stylesheet_link_tag "application"
= csrf_meta_tag
= favicon_link_tag 'goodsmaster.png', type: 'image/png'

