<%= form_for @user_session, :url => { :controller => :user_sessions, :action => :login } do |f| %>
<div style="margin:0 auto;width:300px">
  <%= f.error_messages %>
  <p>
    <%= f.label t('user.gln') %><br />
    <%= f.text_field :gln %>
  </p>

  <p>
    <%= f.label t('user.password') %><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label t('user.remember_me') %>
    <%= f.check_box :remember_me %>
  </p>

  <%= f.submit t('user.login'), :class=>'submit-btn' %>

</div>
<% end %>

