!!!
%html
  %head
    = render :partial => 'layouts/partials/head'
  %body.application
    .topbar
      .topbar-inner
        %header
          %h3
            %a{:href => "#"} Project Name

          - if user_signed_in?
            %ul.nav{class: "secondary-nav"}
              %li= link_to "Users", memberships_path
              %li.dropdown{"data-dropdown" => "dropdown"}
                %a{class: "dropdown-toggle"}= current_user.first_name || current_user.email
                %ul{class: "dropdown-menu"}
                  %li= link_to "Profile", edit_user_registration_path
                  %li= link_to "Sign out", destroy_user_session_url, method: :delete

            -#%form.search-wrapper{:action => ""}
              %input.search{:placeholder => "Search", :type => "text"}

    %section

      .sidebar
        - if content_for?(:sidebar)
          = yield(:sidebar)

      .content
        = render :partial => 'layouts/partials/flash', :object => flash

        - if content_for?(:body_title)
          = yield(:body_title)

        = yield



    %footer
      = debug(params) if Rails.env.development?
      = javascript_include_tag "application"
