!!!
%html
  %head
    = render :partial => 'layouts/partials/head'
  %body.application
    .topbar
      .topbar-inner
        %header
          %h3
            %a{:href => "#"} Project Name
          %ul.nav
            %li
              %a{:href => "#"} My Items
            %li
              %a{:href => "#"} Statuses
            %li
              %a{:href => "#"} Messages
            %li
              %a{:href => "#"} Events
            %li= link_to "Users", memberships_path

            // Fixme: Refactor sign out
            - if user_signed_in?
              %li= link_to "Sign out", destroy_user_session_url, method: :delete

          %form.search-wrapper{:action => ""}
            %input.search{:placeholder => "Search", :type => "text"}

    %section

      .sidebar
        - if content_for?(:sidebar)
          = yield(:sidebar)

      .content
        = render :partial => 'layouts/partials/flash', :object => flash

        - if content_for?(:body_title)
          = yield(:body_title)

        = yield



    %footer
      = debug(params) if Rails.env.development?
      = javascript_include_tag "application"
