!!!
%html
  %head
    = render :partial => 'layouts/partials/head'
  %body
    .application
      %header
        = render 'layouts/partials/header'
      %section
        = render 'layouts/partials/flash'
        = yield
      = render 'layouts/partials/footer'
      = javascript_include_tag "application"
