!!!
%html
  %head
    = render :partial => 'layouts/partials/head'
  %body.application
    .topbar
      .topbar-inner
        %header
          %h3
            %a{:href => "#"} Project Name
          %ul.nav
            %li
              %a{:href => "#"} My Items
            %li
              %a{:href => "#"} Statuses
            %li
              %a{:href => "#"} Messages
            %li
              %a{:href => "#"} Events
          %form.search-wrapper{:action => ""}
            %input.search{:placeholder => "Search", :type => "text"}
    %section
      - flash.each do |key, value|
        %p{:class => "flash #{key}"}
          = value
      = yield
    %footer.footer
      = debug(params) if Rails.env.development?
      = javascript_include_tag "application"
