
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title><%= t 'main.title' %></title>
    <%= stylesheet_link_tag 'jquery-ui', 'dropdowns', 'main','application' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery-ui','jquery.jNice'  %>
  	<script type="text/javascript">$j = jQuery.noConflict();</script>
    <%= javascript_include_tag "autocomplete-rails.js", 'preview.js'%>
  	<%= csrf_meta_tag %>
  	<%= yield :head -%>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <!--[if lte IE 6]>
      <script src="js/DD_belatedPNG_0.0.8a.js"></script>
      <script>DD_belatedPNG.fix('.png, img, a, input, div');</script>
  <![endif]-->

  </head>
  <body>
  <div id="wrap">
    <div id="header">
      <%= render '/menu' %>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
        <div class="copyright">Getmasterdata <span>English (US)</span></div>
        <div class="menu">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Create a Page</a></li>
                <li><a href="#">Developer</a></li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>

    </div>
  </body>
</html>

