!!!
%html
  %head
    = render :partial => 'layouts/partials/head'
  %body.clean
    #flash= render :partial => 'layouts/partials/flash', :object => flash


    %header.topbar
      .topbar-inner
        .header-container
          %h3
            = link_to Settings.project_name, home_url

    %section.main

      - if content_for?(:page_title)
        %header
          %h1= yield(:page_title)

      = yield

    -#%footer
      -#= debug(params) if Rails.env.development?
