!!!
%html
  %head
    = render :partial => 'layouts/partials/head'
  %body.clean
    #flash= render :partial => 'layouts/partials/flash', :object => flash

    %header.topbar
      .topbar-inner
        .header-container
          %h3
            = link_to Settings.project_name, home_url

    %section.main{ class: "#{controller_name} #{action_name}" }

      - if content_for?(:page_title)
        %header.page-header
          %h1= yield(:page_title)

      = yield

    %footer
      %p
        =  render "layouts/partials/copyright"
      -#= debug(params) if Rails.env.development?
