- title t('.title')

-#- content_for(:sidebar) do
-#  = link_to t("back"), :back

= simple_form_for(@account, url: account_url, validate: true,
                  wrapper: :inline, html: { method: :put }) do |f|
  = f.error_notification

  .inputs
    = f.input :company_name, autofocus: true
    = f.input :country, include_blank: false
    = f.input :subdomain
    = f.input :time_zone
    = f.input :website
    = f.input :about_company, as: :text

  .actions
    = f.button :submit, t("update"), class: "primary"
    = button_tag t("cancel"), type: :reset, class: "btn"
