- title t('.title')

= simple_form_for(@account, url: account_url, validate: true, html: { method: :put }) do |f|
  = f.error_notification

  .inputs
    = f.input :company_name, autofocus: true
    = f.input :country, include_blank: false
    = f.input :subdomain
    = f.input :time_zone
    = f.input :website
    = f.input :about_company, as: :text

  .actions
    = f.button :submit, t("update"), class: "primary"
    = link_to t("cancel"), :root
