- title t('.title'), :body => true

= simple_form_for(resource, :as => resource_name, :url => profile_path, wrapper: :inline, html: { method: :put }) do |f|
  = f.error_notification
  .inputs
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :time_zone
    = f.input :current_password
  .actions
    = f.button :submit, "Update"
= link_to "Back", :back
