- title t('.title')

= simple_form_for(resource, url: profile_path, validate: true, html: { method: :put }) do |f|
  = f.error_notification
  .inputs
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :time_zone
    = f.input :current_password, required: true
    = render partial: 'users/show_password'
  .actions
    = f.button :submit, t("update"), class: "primary"
    = link_to t("cancel"), :root
