= title t('.title')

.row
  = render "signup_message"

  .span12.columns
    .login_box.alert-message.block-message
      %strong= t(".already_have_account")
      %br
      = t(".skip_this_form", sign_in: link_to(t(".sign_in_here"), new_users_account_url)).html_safe

    = simple_form_for(setup_account(resource), as: resource_name,
            url: registration_path(resource_name), validate: true, wrapper: :inline) do |f|
      = f.error_notification
      .inputs
        = f.input :first_name, autofocus: true
        = f.input :last_name
        = f.input :email
        = f.input :password, required: true, input_html: { validate: { presence: true } }
        = f.input :time_zone
        = f.simple_fields_for :accounts, wrapper: :inline do |n|
          = n.input :company_name
          = n.input :country, include_blank: false
          = n.input :subdomain
          = n.input :website
          = n.input :about_company, as: :text

        = render "terms_and_privacy"
      .actions
        = f.button :submit, t('.create_account'), class: 'primary'

